openapi: 3.1.0

info:
  title: Vext - API de pagamentos PIX com split
  version: '1.0.0'
  summary: Cobranças PIX, estornos e saldo do vendedor.
  description: |
    API pública do gateway. Todo endpoint desta versão vive sob `/v1`.

    ## Dinheiro é sempre CENTAVOS INTEIROS

    Não há exceção. `amount`, `platform_fee`, `net_amount`, `refunded_amount`,
    `fee_returned`, `seller_debit`, `balance`, `available`, `reserved`, `debt`
    e `withdrawable` são inteiros em centavos de real.

    | Valor       | Envie / receba |
    |-------------|----------------|
    | R$ 1,00     | `100`          |
    | R$ 10,50    | `1050`         |
    | R$ 1.234,56 | `123456`       |

    Enviar `10.50` devolve `422`. A recusa é deliberada: `10.50` chega ao
    servidor como ponto flutuante, `10.50 * 100` não é exatamente `1050` em
    binário, e o centavo perdido só aparece na conciliação do mês. Diante de
    um decimal preferimos recusar a adivinhar a intenção - com dinheiro,
    adivinhar sai caro.

    ## Autenticação

    Toda chamada leva a chave no header:

    ```
    Authorization: Bearer sk_live_SUA_CHAVE_SECRETA
    ```

    A chave é criada em **Desenvolvedores** no painel e o valor em claro
    aparece **uma única vez**, na criação - guardamos apenas um hash
    SHA-256. Perdeu, gere outra.

    Cada chave carrega escopos (`charges:read`, `charges:write`,
    `refunds:write`, `balance:read`, `cards:manage`). Chamar um endpoint
    fora do escopo devolve `403`, e não `401`: a chave está certa, faltou
    permissão.

    Chaves de teste usam o prefixo `sk_test_`. A diferença é visível a olho
    nu de propósito - uma chave de teste colada em produção precisa ser
    reconhecível antes de alguém passar a tarde investigando.

    ## Idempotência

    Envie `Idempotency-Key` em todo `POST`. A conexão que cai depois da
    requisição e antes da resposta deixa você sem saber se cobrou; repetir
    com a mesma chave resolve isso sem risco de cobrar duas vezes.

    - **mesma chave, mesmo corpo** → a resposta gravada, com
      `Idempotent-Replayed: true`. A cobrança não é recriada.
    - **mesma chave, corpo diferente** → `409 idempotency_key_reused`.
      Devolver a cobrança antiga faria você acreditar que cobrou o valor
      novo.
    - **mesma chave, primeira ainda em voo** → `409
      idempotency_key_in_progress`. Repita em instantes.

    A ordem dos campos no JSON não invalida o retry. A chave vale por 24
    horas e é sua: dois clientes diferentes podem usar `pedido-1` sem
    colidir.

    ## Erros

    Todo erro - inclusive os que não previmos - tem a mesma forma:

    ```json
    {
      "error": {
        "type": "invalid_request_error",
        "code": "amount_below_minimum",
        "message": "…",
        "details": {}
      }
    }
    ```

    Trate pelo `code`, nunca pela `message`: o código é contrato, o texto
    pode ser reescrito a qualquer momento.

  contact:
    name: Suporte Vext
    url: https://wa.me/5511936185272

servers:
  - url: https://api.usevext.com
    description: Produção

security:
  - apiKey: []

tags:
  - name: Cobranças
    description: Criação, consulta e estorno de cobranças, no PIX e no cartão.
  - name: Saldo
    description: Quanto o vendedor tem e quanto pode sacar.
  - name: Cartões
    description: |
      Os cartões que os compradores deixaram guardados, para cobrar de novo
      sem pedir nada a eles.

paths:
  /v1/charges:
    post:
      tags: [Cobranças]
      summary: Criar cobrança PIX
      operationId: createCharge
      description: |
        Cria uma cobrança PIX com split entre o vendedor e a plataforma. A
        resposta traz o payload copia-e-cola (`pix.qr_code`) já pronto para
        exibir ao comprador.

        A imagem do QR **não** é devolvida: ela é derivada do payload na
        hora de exibir, e mandar um PNG em base64 em toda resposta
        multiplicaria o corpo por algo que você gera localmente.
      security:
        - apiKey: [charges:write]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChargeRequest'
            examples:
              simples:
                summary: Cobrança de R$ 100,00
                value:
                  amount: 10000
                  description: Curso de Vue 3
                  reference: pedido-1042
                  metadata:
                    carrinho: cart_88f21
                    campanha: black-friday
                  customer_ip: 189.45.12.7
                  customer:
                    name: João Comprador
                    email: joao@exemplo.com.br
                    document: '11144477735'
                    document_type: CPF
                    phone_ddd: '11'
                    phone_number: '987654321'
              comItens:
                summary: Com itens discriminados
                description: |
                  A soma de `quantity * amount` de todos os itens precisa
                  bater exatamente com `amount`. Sem essa conferência o
                  comprador veria um total diferente da soma do que está
                  levando.
                value:
                  amount: 10000
                  expires_in: 1800
                  customer:
                    name: Maria Compradora
                    document: '11144477735'
                  items:
                    - code: curso-vue
                      description: Curso de Vue 3
                      quantity: 1
                      amount: 6000
                    - code: ebook
                      description: E-book de apoio
                      quantity: 2
                      amount: 2000
      responses:
        '201':
          description: Cobrança criada e aguardando pagamento.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
              examples:
                criada:
                  $ref: '#/components/examples/ChargePendente'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/CardDeclined'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/UnprocessableCharge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/ProviderUnavailable'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'

    get:
      tags: [Cobranças]
      summary: Listar cobranças
      operationId: listCharges
      description: |
        Lista as cobranças da conta, da mais recente para a mais antiga.
        Apenas as cobranças do vendedor dono da chave - não existe forma de
        alcançar a venda de outra conta por esta API.
      security:
        - apiKey: [charges:read]
      parameters:
        - name: status
          in: query
          description: Filtra por situação.
          schema:
            $ref: '#/components/schemas/ChargeStatus'
        - name: reference
          in: query
          description: |
            Sua referência, exatamente como enviada em `reference` na
            criação. É o caminho para reencontrar uma cobrança sem guardar
            o `id` que devolvemos.
          schema:
            type: string
            maxLength: 120
          example: pedido-1042
        - name: created_from
          in: query
          description: Criadas a partir desta data e hora (ISO 8601).
          schema:
            type: string
            format: date-time
          example: '2026-08-01T00:00:00-03:00'
        - name: created_to
          in: query
          description: Criadas até esta data e hora (ISO 8601).
          schema:
            type: string
            format: date-time
          example: '2026-08-31T23:59:59-03:00'
        - name: per_page
          in: query
          description: |
            Itens por página. O teto de 100 existe porque uma página gigante
            de um vendedor com histórico degrada a consulta para todos os
            outros.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Página de cobranças.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeList'
              examples:
                pagina:
                  summary: Primeira página
                  value:
                    object: list
                    data:
                      - object: charge
                        id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                        status: paid
                        payment_method: pix
                        amount: 10000
                        currency: BRL
                        platform_fee: 798
                        net_amount: 9103
                        refunded_amount: 0
                        description: Curso de Vue 3
                        reference: pedido-1042
                        metadata:
                          carrinho: cart_88f21
                          campanha: black-friday
                        customer:
                          name: João Comprador
                          email: joao@exemplo.com.br
                          document: '111.***.***-35'
                        pix:
                          qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                          expires_at: '2026-08-04T15:00:00+00:00'
                          end_to_end_id: E12345678202608041200
                        created_at: '2026-08-04T14:00:00+00:00'
                        paid_at: '2026-08-04T14:03:11+00:00'
                        expired_at: null
                        refunded_at: null
                    pagination:
                      page: 1
                      per_page: 25
                      total: 1
                      total_pages: 1
                      has_more: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/charges/{code}:
    get:
      tags: [Cobranças]
      summary: Consultar cobrança
      operationId: getCharge
      security:
        - apiKey: [charges:read]
      parameters:
        - $ref: '#/components/parameters/ChargeCode'
      responses:
        '200':
          description: A cobrança.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
              examples:
                paga:
                  $ref: '#/components/examples/ChargePaga'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/charges/{code}/refund:
    post:
      tags: [Cobranças]
      summary: Estornar cobrança
      operationId: refundCharge
      description: |
        Devolve o dinheiro ao comprador, no todo ou em parte.

        Sem `amount`, devolve **o que ainda cabe estornar** - e não o valor
        da venda. Numa cobrança já devolvida pela metade, mandar o valor
        cheio de volta tiraria o dinheiro duas vezes do vendedor.

        O estorno **não** é barrado por falta de saldo: o dinheiro é do
        comprador e precisa voltar. Se o vendedor já sacou, o saldo dele
        fica negativo e as vendas seguintes cobrem automaticamente.

        `amount`, `fee_returned` e `seller_debit` respondem coisas
        diferentes e por isso vêm separados - é o que evita a pergunta "por
        que saíram R$ 93,01 se eu estornei R$ 100,00?".
      security:
        - apiKey: [refunds:write]
      parameters:
        - $ref: '#/components/parameters/ChargeCode'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundChargeRequest'
            examples:
              integral:
                summary: Estorno do que resta
                value:
                  reason: Comprador desistiu
              parcial:
                summary: Estorno parcial de R$ 40,00
                value:
                  amount: 4000
                  reason: Devolução de um item
      responses:
        '201':
          description: Estorno registrado e enviado ao provedor.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              examples:
                estornado:
                  summary: Estorno integral de R$ 100,00
                  description: |
                    O comprador recebe `amount`. Do saldo do vendedor sai
                    `seller_debit`; `fee_returned` é a parte da nossa taxa
                    que devolvemos. Sempre
                    `amount = seller_debit + fee_returned`.
                  value:
                    object: refund
                    id: rf_01k1y7c3n8b5w2q9r4t6y8u1i3
                    charge: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                    status: succeeded
                    amount: 10000
                    currency: BRL
                    fee_returned: 699
                    seller_debit: 9301
                    reason: Comprador desistiu
                    failed_reason: null
                    created_at: '2026-08-05T10:12:00+00:00'
                    processed_at: '2026-08-05T10:12:02+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/UnprocessableRefund'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/ProviderUnavailable'

  /v1/balance:
    get:
      tags: [Saldo]
      summary: Consultar saldo
      operationId: getBalance
      description: |
        Quatro números, porque respondem perguntas diferentes:

        - `balance` - tudo que o vendedor ganhou e ainda não sacou.
        - `reserved` - a parte que a reserva rolante ainda segura.
        - `available` - o que já pode sair pelo nosso extrato.
        - `withdrawable` - o **menor** entre o nosso disponível e o do
          provedor. É este que vale para pedir saque: usar só o nosso
          permitiria pedir dinheiro que a adquirente ainda não liberou.

        `provider` e `withdrawable` vêm `null` quando a consulta ao provedor
        falha. `null` não é zero: zero diria que não há dinheiro, quando o
        que houve foi uma consulta que não respondeu. O resto do saldo, que
        é nosso, continua correto.
      security:
        - apiKey: [balance:read]
      responses:
        '200':
          description: Saldo da conta.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
              examples:
                normal:
                  summary: Provedor respondeu
                  value:
                    object: balance
                    currency: BRL
                    balance: 92020
                    available: 82818
                    reserved: 9202
                    debt: 0
                    withdrawable: 50000
                    provider:
                      available: 50000
                      waiting_funds: 7000
                indisponivel:
                  summary: Provedor não respondeu
                  value:
                    object: balance
                    currency: BRL
                    balance: 92020
                    available: 82818
                    reserved: 9202
                    debt: 0
                    withdrawable: null
                    provider: null
                emDivida:
                  summary: Vendedor no vermelho
                  description: |
                    Acontece quando um estorno chega depois do saque. Não é
                    erro: as próximas vendas cobrem a dívida
                    automaticamente, e apenas o saque fica bloqueado até lá.
                  value:
                    object: balance
                    currency: BRL
                    balance: -9301
                    available: 0
                    reserved: 0
                    debt: 9301
                    withdrawable: 0
                    provider:
                      available: 0
                      waiting_funds: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/cards:
    get:
      tags: [Cartões]
      summary: Listar cartões guardados
      operationId: listSavedCards
      description: |
        Os cartões que os seus compradores deixaram guardados.

        Um cartão entra no cofre como **efeito de uma venda aprovada** com
        `save_card: true` - não existe endpoint para criar um. A regra é a
        que sustenta o resto: cartão guardado é cartão que já passou.

        O que você recebe é o `id` (`pm_…`), a bandeira, os quatro últimos
        dígitos e a validade. As referências que de fato cobram ficam do
        nosso lado, e o `pm_` existe justamente para que você não precise
        delas.

        Os vencidos não aparecem por padrão. Peça `include_expired=1` para
        entender por que o pagamento de um clique parou de funcionar para
        um comprador.
      security:
        - apiKey: [cards:manage]
      parameters:
        - name: customer_document
          in: query
          description: |
            CPF ou CNPJ do comprador, com ou sem pontuação. É o que você
            tem em mãos na hora de oferecer um upsell - e poupa você de
            guardar mais um identificador nosso.
          schema:
            type: string
        - name: include_expired
          in: query
          schema:
            type: boolean
            default: false
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Página de cartões.
          content:
            application/json:
              schema:
                type: object
                required: [object, data, pagination]
                properties:
                  object:
                    type: string
                    const: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SavedCard'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/cards/{code}:
    get:
      tags: [Cartões]
      summary: Consultar cartão guardado
      operationId: getSavedCard
      security:
        - apiKey: [cards:manage]
      parameters:
        - $ref: '#/components/parameters/SavedCardCode'
      responses:
        '200':
          description: O cartão.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedCard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

    delete:
      tags: [Cartões]
      summary: Remover cartão guardado
      operationId: deleteSavedCard
      description: |
        Revoga o cartão. **A linha fica**: um cartão apagado não responde
        "com que cartão foi aquela cobrança de março?", que é exatamente a
        pergunta de quem remove uma credencial suspeita.

        A partir daqui, cobrar com este `pm_` devolve `422 card_revoked`.
      security:
        - apiKey: [cards:manage]
      parameters:
        - $ref: '#/components/parameters/SavedCardCode'
      responses:
        '200':
          description: O cartão, agora revogado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedCard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/installments:
    get:
      tags: [Cobranças]
      summary: Grade de parcelas
      operationId: listInstallments
      description: |
        A tabela de parcelamento para um valor, do lado do **seu servidor**.

        O cálculo é nosso e é o mesmo que roda no nosso checkout.
        Reimplementá-lo do seu lado para poupar esta chamada criaria duas
        contas capazes de divergir - e divergir aqui é anunciar um preço e
        nós cobrarmos outro.

        A grade vem inteira, bandeira por bandeira, porque a bandeira só é
        conhecida quando o comprador digita os seis primeiros dígitos. A
        chave `default` é o pior caso, e é o que se mostra antes disso.

        Esta **diz por que** o cartão está indisponível: quem apresenta a
        chave secreta é o seu servidor, e o motivo é acionável para você.
      security:
        - apiKey: [charges:read]
      parameters:
        - name: amount
          in: query
          required: true
          description: O valor a parcelar, em **centavos inteiros**.
          schema:
            type: integer
            minimum: 1
          example: 10000
        - name: max_installments
          in: query
          description: |
            O teto que você quer impor. O limite real é o **menor** entre
            ele, a escada por valor e a taxa da sua conta - um número maior
            aqui não amplia nada.
          schema:
            type: integer
            minimum: 1
            maximum: 12
      responses:
        '200':
          description: A grade, ou o motivo de não haver uma.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Installments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

# Eventos que NÓS enviamos para o seu sistema.
#
# Você pode cadastrar vários endpoints em Desenvolvedores - produção e
# homologação são sistemas diferentes, e cada um recebe só os eventos que
# assinou, com o seu próprio segredo de assinatura.
#
# Cada fato vira no máximo UMA entrega por endpoint: uma reentrega do
# provedor para nós não vira uma segunda entrega para você. Uma entrega
# que desistiu depois das retentativas pode ser reenviada à mão pelo
# painel - e aí o `id` do evento é o MESMO, para a sua idempotência
# reconhecê-lo.
webhooks:
  charge.paid:
    post:
      summary: Cobrança paga
      operationId: webhookChargePaid
      description: |
        Enviado quando o pagamento é confirmado, no PIX ou no cartão. É o
        evento sobre o qual o seu sistema deve agir - liberar acesso,
        faturar, dar baixa no pedido.

        **Confira a assinatura antes de agir.** Quem tem o segredo consegue
        forjar este evento, e um sistema que libera produto ao recebê-lo
        entregaria de graça.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargePaidEvent'
            examples:
              paga:
                value:
                  id: evt_01k1y6r7z2m4n6p8q0r2s4t6u8
                  type: charge.paid
                  created_at: '2026-08-04T14:03:12+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: paid
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 0
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                        campanha: black-friday
                      customer:
                        name: João Comprador
                        email: joao@exemplo.com.br
                        document: '111.***.***-35'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: null
      responses:
        '200':
          description: |
            Recebido. Qualquer 2xx encerra a entrega. Responda rápido e
            processe depois: demorar vira retentativa, e retentativa em
            fluxo de dinheiro é como um pagamento acaba contabilizado duas
            vezes.
        default:
          description: |
            Qualquer resposta fora da faixa 2xx agenda nova tentativa.

  charge.failed:
    post:
      summary: Cobrança recusada
      operationId: webhookChargeFailed
      description: |
        Enviado quando a operadora do cartão recusa o pagamento, ou quando a
        análise de fraude o reprova. A cobrança está encerrada: não há
        retentativa automática, e `failure_reason` traz o que a operadora
        respondeu.

        O texto vem da adquirente e serve para o SEU log, não para a tela do
        comprador - "cartão sem limite" dito ao portador de um cartão
        clonado é informação que ajuda quem clonou.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargePaidEvent'
            examples:
              recusada:
                value:
                  id: evt_01k1y6r7z2m4n6p8q0r2s4t6ua
                  type: charge.failed
                  created_at: '2026-08-04T14:03:12+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: failed
                      payment_method: credit_card
                      amount: 12775
                      currency: BRL
                      description: Curso de Vue 3
                      created_at: '2026-08-04T14:00:00+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  charge.in_analysis:
    post:
      summary: Cobrança em análise
      operationId: webhookChargeInAnalysis
      description: |
        Enviado quando a análise de fraude segura um pagamento no cartão
        para revisão manual.

        **Não libere a entrega ainda.** A revisão leva horas e pode terminar
        em recusa; o desfecho chega como `charge.paid` ou `charge.failed`.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargePaidEvent'
            examples:
              em_analise:
                value:
                  id: evt_01k1y6r7z2m4n6p8q0r2s4t6ub
                  type: charge.in_analysis
                  created_at: '2026-08-04T14:03:12+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: in_analysis
                      payment_method: credit_card
                      amount: 12775
                      currency: BRL
                      description: Curso de Vue 3
                      created_at: '2026-08-04T14:00:00+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  charge.refunded:
    post:
      summary: Cobrança estornada
      operationId: webhookChargeRefunded
      description: |
        Enviado quando um estorno é concluído - tanto o que você pediu pela
        API quanto o feito por nós ou pelo provedor fora do seu fluxo.

        O evento traz a cobrança **e** o estorno. Os dois porque as duas
        perguntas aparecem juntas do outro lado: quanto voltou (o estorno) e
        se sobrou algo (a cobrança, com `status` e `refunded_amount` já
        atualizados). Uma venda devolvida pela metade fica
        `partially_refunded`, não `refunded`.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeRefundedEvent'
            examples:
              parcial:
                summary: Estorno parcial de R$ 40,00
                value:
                  id: evt_01k1y7c4a1b2c3d4e5f6g7h8i9
                  type: charge.refunded
                  created_at: '2026-08-05T10:12:03+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: partially_refunded
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 4000
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                        campanha: black-friday
                      customer:
                        name: João Comprador
                        email: joao@exemplo.com.br
                        document: '111.***.***-35'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: '2026-08-05T10:12:02+00:00'
                    refund:
                      object: refund
                      id: rf_01k1y7c3n8b5w2q9r4t6y8u1i3
                      status: succeeded
                      amount: 4000
                      currency: BRL
                      fee_returned: 280
                      seller_debit: 3720
                      reason: Devolução de um item
                      created_at: '2026-08-05T10:12:00+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  charge.chargedback:
    post:
      summary: Cobrança contestada
      operationId: webhookChargeChargedback
      description: |
        Enviado quando o portador contesta a compra na operadora do cartão e
        o valor é levado de volta pela bandeira.

        É definitivo: a cobrança fica `chargedback` e não admite mais
        cancelamento nem estorno. O valor já foi debitado do saldo do
        vendedor - o objeto `refund` descreve o débito, do mesmo jeito que
        num estorno.

        Se você já entregou, é aqui que revoga.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeRefundedEvent'
            examples:
              contestada:
                value:
                  id: evt_01k1y6r7z2m4n6p8q0r2s4t6uc
                  type: charge.chargedback
                  created_at: '2026-08-20T09:41:00+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: chargedback
                      payment_method: credit_card
                      amount: 12775
                      currency: BRL
                      refunded_amount: 12775
                      created_at: '2026-08-04T14:00:00+00:00'
                    refund:
                      object: refund
                      id: rf_01k1y7c4a1b2c3d4e5f6g7h8i9
                      status: succeeded
                      amount: 12775
                      currency: BRL
                      reason: chargeback
                      created_at: '2026-08-20T09:41:00+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  withdrawal.paid:
    post:
      summary: Saque pago
      operationId: webhookWithdrawalPaid
      description: |
        Enviado quando o dinheiro chega à conta bancária do vendedor.

        Os estados intermediários (`processing`, `pending`) **não** são
        entregues: não pedem ação do seu lado, e cada entrega tem custo de
        retentativa.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalPaidEvent'
            examples:
              pago:
                value:
                  id: evt_01k1y8d5j2k3l4m5n6o7p8q9r0
                  type: withdrawal.paid
                  created_at: '2026-08-06T09:00:05+00:00'
                  data:
                    withdrawal:
                      object: withdrawal
                      id: wd_01k1y8d4h1g2f3e4d5c6b7a8z9
                      status: paid
                      currency: BRL
                      amount: 50000
                      fee: 367
                      net_amount: 49633
                      requested_at: '2026-08-06T08:59:00+00:00'
                      processed_at: '2026-08-06T09:00:04+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  med.opened:
    post:
      summary: Contestação de Pix aberta
      operationId: webhookMedOpened
      description: |
        O comprador abriu uma contestação de Pix (MED) contra uma venda
        sua. **O valor já saiu do seu saldo disponível** e ficou retido até
        a decisão - você o vê em "Em contestação", e ele não é sacável.

        Aja como em `charge.in_analysis`: **segure a entrega**. Uma
        contestação pode terminar com o dinheiro devolvido ao comprador, e
        aí o produto já entregue não volta.

        Você tem `defence_deadline` para mandar a sua versão pelo painel.
        O prazo não trava a decisão - ele diz de quem é a vez.

        `opened_by` muda o que você está respondendo: `customer` é o
        formulário público preenchido pela pessoa; `support` é a Vext
        registrando o que ouviu por outro canal. As duas valem igual e
        retêm igual, mas sustentam alegações diferentes.

        Sobre quem contestou vai só o nome. O e-mail e o telefone ficam de
        fora de propósito: a alegação é de fraude, você é a parte acusada,
        e o contato de quem acusa seria um canal de pressão fora do
        processo. Os dados de quem PAGOU continuam em `data.charge.customer`.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedEvent'
            examples:
              aberta:
                value:
                  id: evt_01k2m4n6p8q0r2s4t6u8w0x2y4
                  type: med.opened
                  created_at: '2026-09-16T13:22:41+00:00'
                  data:
                    med:
                      object: med
                      id: med_01k2m4n5r3t7v9x1z3b5d7f9h1
                      status: open
                      reason: Não reconheço esta compra no meu extrato.
                      held_amount: 10000
                      currency: BRL
                      end_to_end_id: E12345678202608041200
                      purchase_date: '2026-08-04'
                      opened_by: customer
                      claimant:
                        name: Maria Souza
                      evidence:
                        - id: 41
                          side: claimant
                          filename: extrato-do-banco.pdf
                          mime: application/pdf
                          size: 184320
                          sent_at: '2026-09-16T13:22:40+00:00'
                      events:
                        - type: opened
                          at: '2026-09-16T13:22:40+00:00'
                          held_cents: 10000
                          charge_code: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                          evidence_count: 1
                      opened_at: '2026-09-16T13:22:40+00:00'
                      defence_deadline: '2026-09-23T13:22:40+00:00'
                      responded_at: null
                      decided_at: null
                      decision_note: null
                      resolved_by: null
                      refund: null
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: paid
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 0
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                      customer:
                        name: Maria Souza
                        email: maria@exemplo.com.br
                        document: '222.***.***-47'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: null
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  med.approved:
    post:
      summary: Contestação de Pix perdida
      operationId: webhookMedApproved
      description: |
        A contestação foi **deferida**: o comprador foi estornado com o seu
        dinheiro, e a retenção virou débito definitivo.

        **Leia o nome com atenção.** `approved` descreve a decisão sobre a
        CONTESTAÇÃO, não sobre você - é a má notícia. O nome espelha o
        status interno (`status: approved`) para que evento, painel e API
        falem uma língua só; quem quiser o placar tem `status` e
        `resolved_by`, e o painel mostra "Perdida".

        Aja revertendo o que `med.opened` mandou segurar: **cancele o
        acesso, o envio ou a assinatura**. A venda está devolvida.

        `resolved_by` diz de onde veio o desfecho: `platform` é a Vext
        decidindo, `seller` é você tendo assumido a contestação pelo
        painel. `data.charge` vem com `status` e `refunded_amount` já
        atualizados.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedEvent'
            examples:
              perdida:
                value:
                  id: evt_01k2p7q9s1u3w5y7a9c1e3g5j7
                  type: med.approved
                  created_at: '2026-09-19T10:41:08+00:00'
                  data:
                    med:
                      object: med
                      id: med_01k2m4n5r3t7v9x1z3b5d7f9h1
                      status: approved
                      reason: Não reconheço esta compra no meu extrato.
                      held_amount: 10000
                      currency: BRL
                      end_to_end_id: E12345678202608041200
                      purchase_date: '2026-08-04'
                      opened_by: customer
                      claimant:
                        name: Maria Souza
                      evidence:
                        - id: 41
                          side: claimant
                          filename: extrato-do-banco.pdf
                          mime: application/pdf
                          size: 184320
                          sent_at: '2026-09-16T13:22:40+00:00'
                        - id: 42
                          side: seller
                          filename: comprovante-de-entrega.png
                          mime: image/png
                          size: 96144
                          sent_at: '2026-09-17T09:10:02+00:00'
                      events:
                        - type: opened
                          at: '2026-09-16T13:22:40+00:00'
                          held_cents: 10000
                          charge_code: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                          evidence_count: 1
                        - type: seller_defence
                          at: '2026-09-17T09:10:02+00:00'
                          files: 1
                        - type: approved
                          at: '2026-09-19T10:41:07+00:00'
                          released_cents: 10000
                      opened_at: '2026-09-16T13:22:40+00:00'
                      defence_deadline: '2026-09-23T13:22:40+00:00'
                      responded_at: '2026-09-17T09:10:02+00:00'
                      decided_at: '2026-09-19T10:41:07+00:00'
                      decision_note: Evidências não comprovam a entrega ao titular do Pix.
                      resolved_by: platform
                      refund:
                        object: refund
                        id: re_01k2p7q8r0t2v4x6z8b0d2f4h6
                        status: refunded
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: refunded
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 10000
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                      customer:
                        name: Maria Souza
                        email: maria@exemplo.com.br
                        document: '222.***.***-47'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: '2026-09-19T10:41:07+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  med.rejected:
    post:
      summary: Contestação de Pix ganha
      operationId: webhookMedRejected
      description: |
        A contestação foi **indeferida**: o valor retido voltou ao seu
        saldo disponível e a venda segue de pé.

        Como em `med.approved`, o nome descreve a decisão sobre a
        CONTESTAÇÃO - aqui é a boa notícia. O painel mostra "Ganha".

        Aja liberando o que `med.opened` mandou segurar: **a entrega pode
        seguir**. `data.charge` continua `paid`, e `refund` vem `null`
        porque não houve estorno.

        Não existe reabertura: a trava é de banco, uma contestação por
        venda, para sempre. Este desfecho é final.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedEvent'
            examples:
              ganha:
                value:
                  id: evt_01k2p9r1t3v5x7z9b1d3f5h7k9
                  type: med.rejected
                  created_at: '2026-09-19T11:02:55+00:00'
                  data:
                    med:
                      object: med
                      id: med_01k2m4n5r3t7v9x1z3b5d7f9h1
                      status: rejected
                      reason: Não reconheço esta compra no meu extrato.
                      held_amount: 10000
                      currency: BRL
                      end_to_end_id: E12345678202608041200
                      purchase_date: '2026-08-04'
                      opened_by: customer
                      claimant:
                        name: Maria Souza
                      evidence:
                        - id: 42
                          side: seller
                          filename: comprovante-de-entrega.png
                          mime: image/png
                          size: 96144
                          sent_at: '2026-09-17T09:10:02+00:00'
                      events:
                        - type: opened
                          at: '2026-09-16T13:22:40+00:00'
                          held_cents: 10000
                          charge_code: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                          evidence_count: 0
                        - type: seller_defence
                          at: '2026-09-17T09:10:02+00:00'
                          files: 1
                        - type: rejected
                          at: '2026-09-19T11:02:54+00:00'
                          released_cents: 10000
                      opened_at: '2026-09-16T13:22:40+00:00'
                      defence_deadline: '2026-09-23T13:22:40+00:00'
                      responded_at: '2026-09-17T09:10:02+00:00'
                      decided_at: '2026-09-19T11:02:54+00:00'
                      decision_note: Entrega comprovada ao titular do Pix.
                      resolved_by: platform
                      refund: null
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: paid
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 0
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                      customer:
                        name: Maria Souza
                        email: maria@exemplo.com.br
                        document: '222.***.***-47'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: null
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: sk_live_… | sk_test_…
      description: |
        Chave secreta do vendedor, criada no painel em **Desenvolvedores**.

        O valor em claro existe uma única vez, na criação. Guardamos só o
        hash SHA-256 - nem o suporte consegue recuperá-lo, o que é o ponto:
        um dump do nosso banco não permite cobrar em nome de ninguém.

        A chave vai no **servidor**. Colocá-la no navegador do comprador a
        entrega a qualquer pessoa que abra a página.


  parameters:
    ChargeCode:
      name: code
      in: path
      required: true
      description: Código público da cobrança, no formato `ch_…`.
      schema:
        type: string
        pattern: '^ch_[0-9a-z]{26}$'
      example: ch_01k1y6r6m6q2x0p3d9v4t7c8n2

    SavedCardCode:
      name: code
      in: path
      required: true
      description: Código público do cartão guardado, no formato `pm_…`.
      schema:
        type: string
        pattern: '^pm_[0-9a-z]{26}$'
      example: pm_01k1y6r6m6q2x0p3d9v4t7c8n2



    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Identificador único da SUA tentativa. Use o mesmo valor ao repetir
        a requisição depois de um erro de rede.

        Opcional, mas recomendado em toda criação de cobrança e estorno.
        Sem ele, uma repetição cria uma segunda cobrança.
      schema:
        type: string
        maxLength: 255
      example: pedido-1042

    SignatureHeader:
      name: X-Vext-Signature
      in: header
      required: true
      description: |
        Assinatura da entrega, no formato `t=<timestamp>,v1=<hmac>`, onde
        `hmac` é `HMAC-SHA256("<timestamp>.<corpo bruto>", <segredo>)`.

        Duas regras ao conferir:

        1. Calcule sobre o **corpo bruto**, antes de desserializar.
           Reserializar muda espaçamento e ordem, e o HMAC deixa de bater.
        2. **Recuse timestamps com mais de 5 minutos.** É isso que impede
           alguém que interceptou uma entrega de `charge.paid` de reenviá-la
           quantas vezes quiser, com assinatura perfeitamente válida.
      schema:
        type: string
        pattern: '^t=[0-9]+,v1=[0-9a-f]{64}$'
      example: t=1785931392,v1=8f3c1d0a5b7e9042c6a1b3d5e7f9012345678901abcdef234567890abcdef1234

    EventHeader:
      name: X-Vext-Event
      in: header
      required: true
      description: |
        Tipo do evento, repetido fora do corpo. Redundante com o payload e
        útil mesmo assim: permite filtrar no seu log sem desserializar nada.
      schema:
        type: string
      example: charge.paid

    DeliveryHeader:
      name: X-Vext-Delivery
      in: header
      required: true
      description: |
        Identificador da entrega. Cite-o ao abrir um chamado - é por ele que
        localizamos a tentativa, a resposta do seu servidor e o horário.
      schema:
        type: string
      example: '4821'

  headers:
    IdempotentReplayed:
      description: |
        Presente com valor `true` quando o corpo devolvido é uma resposta
        **gravada**, e não um recurso novo. Nada foi criado nesta chamada.
      schema:
        type: string
        enum: ['true']

  schemas:
    Cents:
      type: integer
      format: int64
      description: |
        Valor monetário em **centavos inteiros** de real. R$ 10,00 = `1000`.
        Nunca decimal, nunca string.

    ChargeStatus:
      type: string
      description: |
        Situação da cobrança. Só os estados de trânsito - `pending`,
        `processing` e `in_analysis` - ainda mudam sozinhos; os demais são
        terminais, exceto os que ainda admitem estorno.

        `processing` e `in_analysis` são do cartão: a autorização é
        decidida na mesma requisição, mas pode parar na análise de fraude
        antes de virar `paid` ou `failed`. No PIX a cobrança vai direto de
        `pending` para o desfecho.

        `partially_refunded` é estado próprio, e não um `refunded` com
        asterisco: tratar uma venda devolvida pela metade como estornada
        faria seu relatório descontar o valor inteiro.

        `chargedback` é definitivo: o dinheiro voltou pelo caminho da
        bandeira, e nem cancelamento nem estorno são mais possíveis.
      enum:
        - pending
        - processing
        - in_analysis
        - paid
        - expired
        - canceled
        - partially_refunded
        - refunded
        - failed
        - chargedback
      x-labels:
        pending: Aguardando pagamento
        processing: Processando
        in_analysis: Em análise
        paid: Pago
        expired: Expirado
        canceled: Cancelado
        partially_refunded: Estornado em parte
        refunded: Estornado
        failed: Falhou
        chargedback: Chargeback

    RefundStatus:
      type: string
      enum: [pending, succeeded, failed]
      description: |
        `failed` significa que a devolução **não** aconteceu e o saldo do
        vendedor foi reposto. A linha permanece de propósito: uma tentativa
        de devolver dinheiro que não deu certo é exatamente o que alguém vai
        procurar depois.

    Customer:
      type: object
      required: [name, email, document, phone_ddd, phone_number]
      properties:
        name:
          type: string
          maxLength: 120
          example: João Comprador
        email:
          type: string
          format: email
          maxLength: 180
          description: |
            Obrigatório: sem e-mail o provedor aceita o pedido e devolve
            uma cobrança sem QR code.
          example: joao@exemplo.com.br
        document:
          type: string
          maxLength: 20
          description: |
            CPF ou CNPJ. Pontuação é aceita e descartada - guardamos apenas
            os dígitos. Obrigatório: sem documento o provedor aceita o
            pedido e devolve uma cobrança sem QR code.
          example: '111.444.777-35'
        document_type:
          type: [string, 'null']
          enum: [CPF, CNPJ, PASSPORT, null]
        phone_ddd:
          type: string
          maxLength: 3
          description: |
            DDD de quem vai pagar. Obrigatório: sem telefone o provedor
            aceita o pedido e devolve uma cobrança sem QR code.
          example: '11'
        phone_number:
          type: string
          maxLength: 12
          description: |
            Número sem o DDD. Oito dígitos (fixo) ou nove (celular, sempre
            começando com 9).
          example: '987654321'

    CustomerSummary:
      type: object
      description: O comprador, como devolvemos.
      required: [name, email, document]
      properties:
        name:
          type: [string, 'null']
        email:
          type: [string, 'null']
        document:
          type: [string, 'null']
          description: |
            Mascarado. Você já enviou o documento; devolvê-lo inteiro em
            toda consulta espalharia o dado sem nenhum ganho.
          example: '111.***.***-35'

    ChargeItem:
      type: object
      required: [description, quantity, amount]
      properties:
        code:
          type: [string, 'null']
          maxLength: 60
          description: Seu código do produto.
        description:
          type: string
          maxLength: 180
        quantity:
          type: integer
          minimum: 1
        amount:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: |
            Valor **unitário** em centavos inteiros. A soma de
            `quantity * amount` de todos os itens precisa ser exatamente
            igual ao `amount` da cobrança.

    CreateChargeRequest:
      type: object
      required: [amount, customer, items]
      properties:
        amount:
          allOf:
            - $ref: '#/components/schemas/Cents'
          minimum: 1
          description: |
            Valor total da cobrança, em **centavos inteiros**. R$ 100,00 =
            `10000`. Um decimal aqui é recusado com `422`.
        description:
          type: [string, 'null']
          maxLength: 255
          description: Aparece para o comprador na tela de pagamento.
        reference:
          type: [string, 'null']
          maxLength: 120
          description: |
            Sua referência (número do pedido, id interno). Volta na consulta
            e nos webhooks, e serve de filtro em `GET /v1/charges` - é o que
            permite casar a cobrança com o seu pedido sem guardar o nosso
            `id`.
        metadata:
          type: [object, 'null']
          maxProperties: 20
          additionalProperties:
            type: string
            maxLength: 500
          propertyNames:
            maxLength: 40
          description: |
            Até **20** pares de chave/valor seus, devolvidos na consulta e
            nos webhooks. É o `reference` para quem precisa de mais de um
            rótulo - com uma diferença: `reference` filtra a listagem,
            `metadata` não.

            **Os valores devem ser strings.** Um número aqui é recusado com
            `422`: `{"total": 10.10}` voltaria como `10.1`, e a formatação
            do seu dado é sua. Envie `{"total": "10.10"}`.
          example:
            carrinho: cart_88f21
            campanha: black-friday
        expires_in:
          type: [integer, 'null']
          minimum: 60
          maximum: 604800
          default: 86400
          description: |
            Validade do QR, em segundos. O piso de 60s evita uma cobrança
            que expira antes de o comprador abrir o aplicativo do banco.
            Omitindo o campo, a cobrança vale 24 horas.
        customer_ip:
          type: [string, 'null']
          format: ip
          description: |
            O IP do **comprador**, em IPv4 ou IPv6.

            Numa integração servidor-a-servidor quem abre a conexão conosco
            é o seu servidor. Sem este campo é o endereço **dele** que
            guardamos, e o "Local" da venda no painel apontaria para o seu
            datacenter em toda cobrança. Mande o IP de quem está comprando
            e o dado passa a valer numa contestação.

            Fica fora de `customer` porque é da tentativa, não do cadastro:
            muda a cada compra da mesma pessoa.
          example: 189.45.12.7
        payment_method:
          type: string
          enum: [pix, credit_card]
          default: pix
          description: |
            Omitido, é `pix` - e continua sendo, para sempre. Toda
            integração que existe hoje manda o corpo sem este campo, e
            torná-lo obrigatório as quebraria todas por uma adição nossa.

            Com `credit_card`, o objeto `card` passa a ser obrigatório e
            `expires_in` passa a ser recusado: cartão não expira.
        card:
          oneOf:
            - $ref: '#/components/schemas/CardInput'
            - type: 'null'
          description: |
            Obrigatório quando `payment_method` é `credit_card`, e
            **recusado** nos demais. Mandá-lo num PIX devolve `422`: aceitar
            e ignorar faria você ver a cobrança nascer e acreditar que
            cobrou no cartão.
        three_d_secure:
          type: string
          enum: [automatic, required, off]
          default: automatic
          description: |
            Quanto de autenticação do portador você está pedindo. É um
            **pedido**, nunca a decisão.

            A configuração da sua loja é PISO: com o 3DS exigido na conta,
            um `off` aqui não desliga nada. A assimetria é deliberada - o
            que se perde ao desligar não é uma preferência, é o liability
            shift numa contestação.

            `required` escala por cobrança, e serve a quem conhece o
            próprio risco melhor que a configuração da conta: um pedido de
            valor alto, um comprador novo, um endereço que não bate.

            `automatic` pode escalar sozinho **acima de um piso de valor**
            definido pela plataforma. O piso costuma vir desligado; quando
            estiver ligado, uma venda a partir dele passa a exigir os
            identificadores de autenticação. `off` é a forma de recusar
            esse piso — e **só ele**: a configuração da sua conta continua
            sendo o chão, e um `off` não a alcança.

            Como o desafio roda no NAVEGADOR, quem cobra servidor a
            servidor e não consegue produzir `three_ds_transaction_id`
            deve mandar `off` explicitamente em vez de contar com o
            padrão.
        save_card:
          type: boolean
          default: false
          description: |
            Guarda o cartão no cofre **se, e somente se, a venda for
            aprovada**, e a próxima cobrança usa `card.id`. Recusada, nada
            é guardado: uma referência de autorização negada é uma
            referência que a própria Pagar.me pode não honrar depois.

            O `pm_` não volta nesta resposta - ele nasce depois dela.
            Busque-o em `GET /v1/cards?customer_document=…`.

            **Recusado junto com `card.id`**: aquele cartão já está
            guardado, e aceitar-e-ignorar ensinaria errado.

            Guardar credencial de pagamento sem o comprador ter pedido é
            problema regulatório antes de ser problema de produto. O
            consentimento é seu para colher.
        device_event_id:
          type: [string, 'null']
          maxLength: 255
          description: |
            O identificador do evento de identificação do aparelho - é o
            `deviceEventId` que o `createToken()` da Pagar.me devolve ao
            seu JavaScript.

            Opcional sempre. Bloqueador de anúncio corta a identificação
            com frequência, e recusar a venda porque o enriquecimento de
            risco não carregou troca uma fraude possível por uma perda
            certa.
        customer:
          $ref: '#/components/schemas/Customer'
        items:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/ChargeItem'
          description: |
            **Obrigatório.** Ao menos um item, e a soma de
            `quantity × amount` deve bater com `amount` da cobrança.

            Os itens são a única descrição do que está sendo vendido que
            chega ao arranjo de pagamento: é o que o comprador lê no
            aplicativo do banco ao confirmar o PIX. Por isso não são
            opcionais - uma cobrança que não diz o que cobra chega à tela
            dele como um valor sem causa.

    SavedCard:
      type: object
      description: |
        Um cartão guardado. **Todo campo está sempre presente.**

        O que NÃO está aqui, e não vai estar: as referências da Pagar.me
        que de fato cobram, e os seis primeiros dígitos. As primeiras são o
        equivalente ao cartão para quem as tem; o BIN somado aos quatro
        últimos é material de correlação que você não precisa.
      required:
        - object
        - id
        - brand
        - last_four
        - exp_month
        - exp_year
        - holder_name
        - expired
        - created_at
        - last_used_at
      properties:
        object:
          type: string
          const: card
        id:
          type: string
          pattern: '^pm_[0-9a-z]{26}$'
        brand:
          type: [string, 'null']
          enum: [visa, mastercard, elo, hipercard, amex, diners, discover, aura, null]
        last_four:
          type: [string, 'null']
        exp_month:
          type: [integer, 'null']
          minimum: 1
          maximum: 12
        exp_year:
          type: [integer, 'null']
        holder_name:
          type: [string, 'null']
        expired:
          type: boolean
          description: |
            Vencido é ESTADO, e não ausência: o cartão continua na lista
            para você entender por que a cobrança de um clique parou de
            funcionar para aquele comprador.
        created_at:
          type: [string, 'null']
          format: date-time
        last_used_at:
          type: [string, 'null']
          format: date-time





    CardInput:
      type: object
      description: |
        O cartão, como ele chega até nós.

        Note o que **não** está aqui, e nem poderia: número, validade e
        CVV. O navegador do comprador os troca por um token direto com a
        Pagar.me, pela biblioteca dela. Nenhum endpoint desta API aceita o
        número de um cartão, e é isso que mantém a sua aplicação e a nossa
        fora do escopo de PCI.

        São **dois formatos mutuamente excludentes**: `token`, para um
        cartão que o comprador acabou de digitar, e `id`, para um que já
        está no cofre. Mandar os dois devolve `422` - aceitar deixaria a
        escolha de qual cobrar para o provedor.
      required: [installments]
      properties:
        id:
          type: [string, 'null']
          pattern: '^pm_[0-9a-z]{26}$'
          description: |
            Um cartão guardado, de `GET /v1/cards`. **Excludente com
            `token`**, e é o pagamento de um clique: o comprador não digita
            nada, e por isso `holder_name` e `billing_address` não vêm - o
            cofre já os tem.

            Uma loja que exige 3DS não cobra assim: veja
            `one_click_requires_three_ds` abaixo.
          example: pm_01k1y6r6m6q2x0p3d9v4t7c8n2
        token:
          type: string
          maxLength: 255
          description: |
            O token de uso único, criado no navegador. Vale cerca de um
            minuto - tokenize no envio do formulário, nunca na abertura da
            página.

            **Obrigatório na ausência de `id`.** Com ele vêm `holder_name`
            e `billing_address`, que sem ele são recusados.
          example: token_ORP978GFOUoQD58x
        installments:
          type: integer
          minimum: 1
          maximum: 12
          description: |
            Conferido de novo contra a escada por valor e a taxa da sua
            conta na criação - consulte `GET /v1/installments` para saber o
            que está disponível antes de cobrar.
        holder_name:
          type: string
          maxLength: 64
          description: |
            O nome impresso no cartão, sem acento. A Pagar.me recusa o
            pedido com acento ou com mais de 64 caracteres.
          example: JOAO COMPRADOR
        holder_document:
          type: [string, 'null']
          maxLength: 20
          description: CPF ou CNPJ do portador, quando diferente do comprador.
        brand:
          type: [string, 'null']
          maxLength: 32
          description: |
            A bandeira lida do BIN no navegador. Serve para PRECIFICAR, e
            não é confiável - a de verdade só aparece na resposta do
            pedido, e é ela que volta em `card.brand`.
        billing_address:
          type: object
          description: |
            **Obrigatório.** O antifraude reprova bem mais sem endereço, e
            é ele que a bandeira compara com o cadastro do portador numa
            contestação. O antifraude é cobrado por transação, aprovada ou
            não: vale mandar tudo que ele sabe ler.
          required: [zip_code, street, number, neighborhood, city, state]
          properties:
            zip_code:
              type: string
              maxLength: 16
              example: '01310100'
            street:
              type: string
              maxLength: 120
            number:
              type: string
              maxLength: 20
            complement:
              type: [string, 'null']
              maxLength: 80
            neighborhood:
              type: string
              maxLength: 80
            city:
              type: string
              maxLength: 80
            state:
              type: string
              minLength: 2
              maxLength: 2
              example: SP
        three_ds:
          type: [object, 'null']
          description: |
            O resultado da autenticação do portador, quando ela aconteceu.
            **Obrigatório** se a sua loja exige 3DS ou se você pediu
            `three_d_secure: "required"`; recusado com `422` na ausência.

            Quem produz estes dois valores é o navegador, contra o servidor
            da Stone. Não tente montá-los do seu lado: quem confere a
            autenticação de verdade é a Pagar.me, no momento do pedido, e
            um identificador forjado simplesmente não vira autenticação.
          required: [transaction_id, status]
          properties:
            transaction_id:
              type: string
              maxLength: 64
            status:
              type: string
              enum: [Y, A]
              description: |
                Só `Y` (autenticado) e `A` (tentativa comprovada) são
                aceitos - são os dois que carregam o liability shift em
                Visa e Mastercard. Os demais dizem que o emissor negou ou
                não respondeu, e a cobrança é recusada antes de sair.

    RefundChargeRequest:
      type: object
      properties:
        amount:
          allOf:
            - $ref: '#/components/schemas/Cents'
          minimum: 1
          description: |
            Quanto devolver, em **centavos inteiros**. Omita para devolver
            todo o saldo estornável da cobrança.
        reason:
          type: [string, 'null']
          maxLength: 255
          description: Motivo, para o seu histórico e o nosso.

    Charge:
      type: object
      description: |
        Uma cobrança, como a API a devolve. **Todo campo desta lista está
        sempre presente** - os anuláveis vêm com `null`, nunca ausentes.
        Marcar como opcional o que nunca falta obrigaria você a testar a
        existência de uma chave que sempre existe.

        Nos webhooks há uma exceção documentada: veja `ChargeMinimal`.
      required:
        - object
        - id
        - status
        - payment_method
        - amount
        - currency
        - platform_fee
        - net_amount
        - refunded_amount
        - description
        - reference
        - metadata
        - customer
        - pix
        - card
        - created_at
        - paid_at
        - expired_at
        - refunded_at
      properties:
        object:
          type: string
          const: charge
        id:
          type: string
          description: |
            Código público da cobrança. Nunca é a chave primária: expor o
            autoincremento diria a qualquer cliente quantas vendas a
            plataforma inteira processou.
          example: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
        status:
          $ref: '#/components/schemas/ChargeStatus'
        payment_method:
          type: string
          enum: [pix, credit_card]
          description: |
            O meio pelo qual esta cobrança foi criada. Omitir o campo na
            criação continua significando `pix` - é o que toda integração
            que existe hoje espera, e mudar isso as quebraria todas de uma
            vez.
        amount:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: Valor cobrado, em centavos inteiros.
        currency:
          type: string
          const: BRL
        platform_fee:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: |
            Nossa taxa, em centavos inteiros. Congelada na criação: reflete
            o contrato que valia quando a venda aconteceu, não o de hoje.
        net_amount:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: |
            O que fica com o vendedor, em centavos inteiros: `amount` menos
            a nossa taxa e menos a taxa do meio de pagamento, que é
            descontada direto do recebimento dele. Por isso
            `amount - platform_fee` dá um número MAIOR que este.
        refunded_amount:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: |
            Total já devolvido ao comprador, em centavos inteiros. Acumulado
            entre estornos parciais.
        description:
          type: [string, 'null']
        reference:
          type: [string, 'null']
        metadata:
          type: object
          additionalProperties:
            type: string
          description: |
            O que você enviou na criação. **Sempre um objeto**, `{}` quando
            não houve nada - nunca `null`, para o seu código não ter dois
            casos a tratar.
          example:
            carrinho: cart_88f21
            campanha: black-friday
        customer:
          oneOf:
            - $ref: '#/components/schemas/CustomerSummary'
            - type: 'null'
          description: |
            `null` na cobrança que não tem comprador vinculado. A chave em
            si nunca falta.
        pix:
          type: object
          description: |
            Presente em toda cobrança, inclusive nas de cartão - onde os
            três campos vêm `null`. Um objeto sempre presente evita o
            `if (charge.pix)` antes de cada leitura.
          required: [qr_code, expires_at, end_to_end_id]
          properties:
            qr_code:
              type: [string, 'null']
              description: |
                Payload copia-e-cola do PIX. Gere a imagem do QR a partir
                dele - não devolvemos PNG.
            expires_at:
              type: [string, 'null']
              format: date-time
            end_to_end_id:
              type: [string, 'null']
              description: |
                Identificador da transação no Sistema de Pagamentos
                Brasileiro. Aparece depois do pagamento e é o que o banco do
                comprador reconhece.
        card:
          type: object
          description: |
            Presente em toda cobrança, inclusive nas de PIX - onde os campos
            vêm `null`. Mesma regra do `pix` acima, e pelo mesmo motivo.

            O que **não** está aqui, e não vai estar: os seis primeiros
            dígitos, o código de retorno da adquirente e a nota do
            antifraude. Os dois primeiros são diagnóstico nosso; a nota numa
            resposta pública seria um oráculo de risco para quem testa
            cartão em lote. O código de recusa sai numa recusa, em
            `error.details.decline_code`, onde quem lê é o seu servidor.
          required: [brand, last_four, holder_name, installments, interest, three_d_secure, authorized_at]
          properties:
            brand:
              type: [string, 'null']
              description: |
                A bandeira que a **Pagar.me** reconheceu, e não a que o
                navegador leu do BIN. Elas divergem, e a que vale é esta.
              enum: [visa, mastercard, elo, hipercard, amex, diners, discover, aura, null]
            last_four:
              type: [string, 'null']
            holder_name:
              type: [string, 'null']
            installments:
              type: [integer, 'null']
              description: |
                `null` no PIX. A coluna tem default `1`, mas "uma parcela"
                numa cobrança que não parcela é um número que convida a
                conta errada.
            interest:
              allOf:
                - $ref: '#/components/schemas/Cents'
              description: |
                Os juros do parcelamento, em centavos inteiros, e `0` nas
                parcelas sem juros. Eles viajam à Pagar.me como um ITEM à
                parte - ela deriva o valor do pedido da soma dos itens, e um
                pedido que não fecha é recusado inteiro.
            three_d_secure:
              type: object
              required: [status, transaction_id]
              properties:
                status:
                  type: [string, 'null']
                  description: |
                    O `transStatus` do protocolo. `Y` é autenticado, `A` é
                    tentativa comprovada - os dois carregam o liability
                    shift em Visa e Mastercard.
                  enum: [Y, A, N, C, U, R, I, null]
                transaction_id:
                  type: [string, 'null']
                  description: |
                    O identificador da autenticação. É ele que se apresenta
                    à bandeira numa contestação.
            authorized_at:
              type: [string, 'null']
              format: date-time
        created_at:
          type: [string, 'null']
          format: date-time
        paid_at:
          type: [string, 'null']
          format: date-time
        expired_at:
          type: [string, 'null']
          format: date-time
        refunded_at:
          type: [string, 'null']
          format: date-time

    ChargeMinimal:
      type: object
      description: |
        A cobrança em versão reduzida, que só aparece em **webhooks**.

        Quando a montagem do corpo completo falha do nosso lado, o evento
        sai assim em vez de não sair: um `charge.paid` menor ainda avisa que
        a venda foi paga, e nenhum evento deixaria você sem saber. É um
        caminho de exceção, não o normal - mas ele existe, e um cliente
        escrito contra o schema cheio quebraria justamente no dia ruim.

        Quando isso acontece, busque o restante em `GET /v1/charges/{code}`.
      required: [object, id, status, payment_method, amount, currency, metadata]
      properties:
        object:
          type: string
          const: charge
        id:
          type: string
          example: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
        status:
          $ref: '#/components/schemas/ChargeStatus'
        payment_method:
          type: string
          enum: [pix, credit_card]
        amount:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: Valor cobrado, em centavos inteiros.
        currency:
          type: string
          const: BRL
        metadata:
          type: object
          additionalProperties:
            type: string
          description: |
            Vai até no corpo reduzido: é por ela que você reencontra o
            pedido do seu lado, e um evento sem ela anunciaria um pagamento
            sem dizer a que se refere.

    WebhookCharge:
      description: |
        A cobrança dentro de um evento. Quase sempre o objeto `Charge`
        completo; `ChargeMinimal` no caminho degradado descrito nele.
      anyOf:
        - $ref: '#/components/schemas/Charge'
        - $ref: '#/components/schemas/ChargeMinimal'

    Refund:
      type: object
      description: |
        Um estorno. `charge`, `failed_reason` e `processed_at` são os
        únicos campos que podem faltar: os três vêm na resposta da API, mas
        o objeto embutido nos webhooks `charge.refunded` e
        `charge.chargedback` não os inclui.
      required:
        - object
        - id
        - status
        - amount
        - currency
        - fee_returned
        - seller_debit
        - reason
        - created_at
      properties:
        object:
          type: string
          const: refund
        id:
          type: string
          example: rf_01k1y7c3n8b5w2q9r4t6y8u1i3
        charge:
          type: string
          description: Código da cobrança estornada.
        status:
          $ref: '#/components/schemas/RefundStatus'
        amount:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: |
            O que volta ao comprador, em centavos inteiros. Do ponto de
            vista dele o estorno é sempre integral: a política de taxa
            decide quem financia, nunca quanto ele recebe.
        currency:
          type: string
          const: BRL
        fee_returned:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: |
            Quanto da nossa taxa devolvemos, em centavos inteiros.
        seller_debit:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: |
            O que efetivamente sai do saldo do vendedor, em centavos
            inteiros. Sempre `amount - fee_returned`. Pode ser MAIOR que o
            líquido recebido na venda, quando a política retém o custo que o
            provedor não devolve.
        reason:
          type: [string, 'null']
        failed_reason:
          type: [string, 'null']
          description: Preenchido quando `status` é `failed`.
        created_at:
          type: string
          format: date-time
        processed_at:
          type: [string, 'null']
          format: date-time

    Balance:
      type: object
      required:
        - object
        - currency
        - balance
        - available
        - reserved
        - debt
        # Anuláveis, e ainda assim sempre presentes: `null` aqui quer dizer
        # "a consulta ao provedor falhou", que é diferente de zero e
        # diferente de ausente.
        - withdrawable
        - provider
      properties:
        object:
          type: string
          const: balance
        currency:
          type: string
          const: BRL
        balance:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: |
            Saldo do extrato, em centavos inteiros. Pode ser NEGATIVO -
            acontece quando um estorno chega depois do saque.
        available:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: |
            O que já pode sair pelo nosso extrato, em centavos inteiros.
            Nunca negativo: veja `debt`.
        reserved:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: |
            Retido pela reserva rolante, em centavos inteiros. É dinheiro do
            vendedor que ainda não pode sair - sem este campo, a diferença
            entre `balance` e `available` pareceria erro do sistema.
        debt:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: |
            Quanto o vendedor deve, em centavos inteiros. Estado próprio, e
            não "saldo zero": as próximas vendas cobrem automaticamente e só
            o saque fica bloqueado até lá.
        withdrawable:
          oneOf:
            - $ref: '#/components/schemas/Cents'
            - type: 'null'
          description: |
            O que dá para sacar AGORA, em centavos inteiros. `null` quando a
            consulta ao provedor falhou.
        provider:
          oneOf:
            - type: object
              required: [available, waiting_funds]
              properties:
                available:
                  allOf:
                    - $ref: '#/components/schemas/Cents'
                  description: Disponível na adquirente, em centavos inteiros.
                waiting_funds:
                  allOf:
                    - $ref: '#/components/schemas/Cents'
                  description: |
                    A caminho na adquirente, em centavos inteiros.
            - type: 'null'
          description: |
            `null` quando a consulta ao provedor falhou. Diferente de zero.

    Installments:
      type: object
      description: |
        A grade de parcelamento para um valor, como o SEU SERVIDOR a
        recebe. **Todo campo está sempre presente** - `message` e
        `unavailable_reason` vêm `null` quando há grade, e `matrix` vem
        `{}` quando não há.
      required: [object, amount, available, unavailable_reason, message, matrix]
      properties:
        object:
          type: string
          const: installments
        amount:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: O valor consultado, de volta, em centavos inteiros.
        available:
          type: boolean
        unavailable_reason:
          type: [string, 'null']
          description: |
            Por que não há grade. Trate por ele, nunca pela `message`.

            As seis primeiras são chaves de configuração, e cada uma tem
            dono diferente: a plataforma, a conta Pagar.me que atende a sua
            loja, o interruptor da sua conta, o status do seu cadastro, a
            credencial do provedor e o seu contrato de taxa.
            `amount_below_minimum` é outra coisa - o cartão está de pé, o
            que não cabe é este valor.
          enum:
            - platform_disabled
            - gateway_account_disabled
            - seller_disabled
            - seller_cannot_transact
            - no_credential
            - fee_disabled
            - amount_below_minimum
            - null
        message:
          type: [string, 'null']
          description: A frase em português, para o seu log. Não é contrato.
        matrix:
          type: object
          description: |
            Mapa de bandeira para lista de opções. **Objeto vazio**, nunca
            lista vazia, quando não há grade.
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/InstallmentOption'


    InstallmentOption:
      type: object
      required: [installments, total_cents, installment_cents, interest_cents, label]
      properties:
        installments:
          type: integer
          minimum: 1
          maximum: 12
        total_cents:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: O que o comprador paga no total, já com juros.
        installment_cents:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: O valor de cada parcela.
        interest_cents:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: |
            Os juros embutidos, em centavos inteiros. `0` nas parcelas sem
            juros. Eles viajam até a Pagar.me como um ITEM à parte, e é por
            isso que o comprador vê a conta separada na tela.
        label:
          type: string
          description: A opção já escrita para a tela, em português.
          example: 12x de R$ 10,65

    Pagination:
      type: object
      required: [page, per_page, total, total_pages, has_more]
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
        has_more:
          type: boolean
          description: Há página seguinte?

    ChargeList:
      type: object
      required: [object, data, pagination]
      properties:
        object:
          type: string
          const: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Charge'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [type, code, message, details]
          properties:
            type:
              type: string
              description: |
                Família do erro. Responde "de quem é o problema e o que
                fazer": `invalid_request_error` se corrige mudando a
                chamada, `authentication_error` trocando a chave, e
                `api_error` é nosso - repita, não reescreva.
              enum:
                - authentication_error
                - permission_error
                - invalid_request_error
                - idempotency_error
                - not_found_error
                - rate_limit_error
                - api_error
                - card_error
            code:
              type: string
              description: |
                Código estável do erro. **Trate por ele.** A `message` pode
                ser reescrita a qualquer momento; o código, não.
            message:
              type: string
              description: Explicação em português, para leitura humana.
            details:
              type: object
              description: |
                Sempre objeto, mesmo vazio. Em `validation_failed`, traz os
                campos recusados e suas mensagens.
              additionalProperties: true

    EventEnvelope:
      type: object
      required: [id, type, created_at, data]
      properties:
        id:
          type: string
          description: |
            Identificador do evento. Estável entre as retentativas da mesma
            entrega - use-o para deduplicar do seu lado.
          example: evt_01k1y6r7z2m4n6p8q0r2s4t6u8
        type:
          type: string
          enum:
            - charge.paid
            - charge.failed
            - charge.in_analysis
            - charge.refunded
            - charge.chargedback
            - withdrawal.paid
            - med.opened
            - med.approved
            - med.rejected
        created_at:
          type: string
          format: date-time

    ChargePaidEvent:
      allOf:
        - $ref: '#/components/schemas/EventEnvelope'
        - type: object
          properties:
            data:
              type: object
              required: [charge]
              properties:
                charge:
                  $ref: '#/components/schemas/WebhookCharge'

    ChargeRefundedEvent:
      allOf:
        - $ref: '#/components/schemas/EventEnvelope'
        - type: object
          properties:
            data:
              type: object
              required: [charge, refund]
              properties:
                charge:
                  $ref: '#/components/schemas/WebhookCharge'
                refund:
                  $ref: '#/components/schemas/Refund'

    WithdrawalPaidEvent:
      allOf:
        - $ref: '#/components/schemas/EventEnvelope'
        - type: object
          properties:
            data:
              type: object
              required: [withdrawal]
              properties:
                withdrawal:
                  type: object
                  required:
                    - object
                    - id
                    - status
                    - amount
                    - currency
                    - fee
                    - net_amount
                    - requested_at
                    - processed_at
                  properties:
                    object:
                      type: string
                      const: withdrawal
                    id:
                      type: string
                      example: wd_01k1y8d4h1g2f3e4d5c6b7a8z9
                    status:
                      type: string
                      enum: [paid]
                    currency:
                      type: string
                      const: BRL
                    amount:
                      allOf:
                        - $ref: '#/components/schemas/Cents'
                      description: Valor pedido, em centavos inteiros.
                    fee:
                      allOf:
                        - $ref: '#/components/schemas/Cents'
                      description: |
                        Taxa da transferência, em centavos inteiros.
                        Repasse puro do custo bancário.
                    net_amount:
                      allOf:
                        - $ref: '#/components/schemas/Cents'
                      description: |
                        O que chegou na conta, em centavos inteiros
                        (`amount - fee`).
                    requested_at:
                      type: string
                      format: date-time
                    processed_at:
                      type: [string, 'null']
                      format: date-time

    MedEvidence:
      type: object
      description: |
        Um anexo da contestação, de qualquer um dos dois lados.

        **Não há link.** O disco é privado e os arquivos são servidos por
        streaming autenticado - é material de litígio sobre uma pessoa
        nomeada, e um endereço que funcionasse fora da sessão viveria no
        log de quem recebeu o webhook e poderia ser encaminhado. O
        conteúdo se abre no painel; aqui fica o que foi anexado, por qual
        lado e quando.
      required: [id, side, filename, mime, size, sent_at]
      properties:
        id:
          type: integer
          description: Identificador do anexo dentro da contestação.
          example: 41
        side:
          type: string
          enum: [claimant, seller]
          description: |
            `claimant` é o comprador, ao abrir a contestação. `seller` é a
            sua loja, ao se defender.
        filename:
          type: string
          description: O nome do arquivo como quem enviou o nomeou.
          example: extrato-do-banco.pdf
        mime:
          type: string
          example: application/pdf
        size:
          type: integer
          description: Tamanho em bytes.
          example: 184320
        sent_at:
          type: string
          format: date-time

    MedTimelineEvent:
      type: object
      description: |
        Um passo da linha do tempo da contestação, em ordem cronológica.

        O que aconteceu, quando, e os números do passo. **Quem agiu não
        vai** - nas decisões, quem age é um analista da Vext, e o quadro
        interno da plataforma não é parte do seu contrato.

        Trate `type` como aberto: passos novos podem aparecer, e um
        `switch` sem ramo padrão quebraria na primeira contestação que
        seguisse um caminho novo.
      required: [type, at]
      properties:
        type:
          type: string
          description: |
            Os passos em uso hoje:

            - `opened` - o comprador abriu pelo formulário público
            - `opened_by_admin` - a Vext abriu registrando outro canal
            - `seller_defence` - você enviou contra-evidência
            - `refund_failed` - uma tentativa de estorno não passou; a
              retenção continua e a Vext tenta de novo
            - `approved` / `approved_without_refund` - deferida
            - `seller_accepted` / `seller_accepted_without_refund` -
              deferida porque você assumiu a contestação
            - `rejected` - indeferida
          example: opened
        at:
          type: string
          format: date-time
        held_cents:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: Quanto foi retido neste passo. Só em `opened`.
        released_cents:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: Quanto saiu da retenção. Só nos passos de desfecho.
        evidence_count:
          type: integer
          description: Quantos anexos vieram com a abertura.
        files:
          type: integer
          description: Quantos anexos vieram na sua defesa.
        charge_code:
          type: string
          description: A venda contestada. Só em `opened`.

    Med:
      type: object
      description: |
        Uma contestação de Pix (MED) contra uma venda sua.

        Mesma forma nos três eventos - abertura e desfechos. O que muda é
        o estado dentro dela: guarde o caso pelo `id` e atualize-o a cada
        evento, em vez de esperar corpos diferentes por tipo.
      required:
        - object
        - id
        - status
        - reason
        - held_amount
        - currency
        - end_to_end_id
        - purchase_date
        - opened_by
        - claimant
        - evidence
        - events
        - opened_at
        - defence_deadline
        - responded_at
        - decided_at
        - decision_note
        - resolved_by
        - refund
      properties:
        object:
          type: string
          const: med
        id:
          type: string
          description: |
            O número de protocolo. É o mesmo que o comprador recebe por
            e-mail e o mesmo que aparece no painel.
          example: med_01k2m4n5r3t7v9x1z3b5d7f9h1
[...]
