openapi: 3.1.0

info:
  title: Vext - API de pagamentos PIX com split
  version: '1.0.0'
  summary: Cobranças PIX, estornos e saldo do vendedor.
  description: |
    API pública do gateway. Todo endpoint desta versão vive sob `/v1`.

    ## Dinheiro é sempre CENTAVOS INTEIROS

    Não há exceção. `amount`, `platform_fee`, `net_amount`, `refunded_amount`,
    `fee_returned`, `seller_debit`, `balance`, `available`, `reserved`, `debt`
    e `withdrawable` são inteiros em centavos de real.

    | Valor       | Envie / receba |
    |-------------|----------------|
    | R$ 1,00     | `100`          |
    | R$ 10,50    | `1050`         |
    | R$ 1.234,56 | `123456`       |

    Enviar `10.50` devolve `422`. A recusa é deliberada: `10.50` chega ao
    servidor como ponto flutuante, `10.50 * 100` não é exatamente `1050` em
    binário, e o centavo perdido só aparece na conciliação do mês. Diante de
    um decimal preferimos recusar a adivinhar a intenção - com dinheiro,
    adivinhar sai caro.

    ## Autenticação

    Toda chamada leva a chave no header:

    ```
    Authorization: Bearer sk_live_SUA_CHAVE_SECRETA
    ```

    A chave é criada em **Desenvolvedores** no painel e o valor em claro
    aparece **uma única vez**, na criação - guardamos apenas um hash
    SHA-256. Perdeu, gere outra.

    Cada chave carrega escopos (`charges:read`, `charges:write`,
    `refunds:write`, `balance:read`, `cards:manage`, `checkout:write`).
    Chamar um endpoint fora do escopo devolve `403`, e não `401`: a chave
    está certa, faltou permissão.

    O embed no navegador usa a outra chave, a publicável (`pk_live_`), no
    header `X-Vext-Publishable-Key`. Ela não carrega escopo nenhum: o que
    ela alcança é o grupo fechado `/v1/embed`, e nada além dele. Ver
    [Chave publicável](/embed/chave-publicavel).

    Chaves de teste usam o prefixo `sk_test_`. A diferença é visível a olho
    nu de propósito - uma chave de teste colada em produção precisa ser
    reconhecível antes de alguém passar a tarde investigando.

    ## Idempotência

    Envie `Idempotency-Key` em todo `POST`. A conexão que cai depois da
    requisição e antes da resposta deixa você sem saber se cobrou; repetir
    com a mesma chave resolve isso sem risco de cobrar duas vezes.

    - **mesma chave, mesmo corpo** → a resposta gravada, com
      `Idempotent-Replayed: true`. A cobrança não é recriada.
    - **mesma chave, corpo diferente** → `409 idempotency_key_reused`.
      Devolver a cobrança antiga faria você acreditar que cobrou o valor
      novo.
    - **mesma chave, primeira ainda em voo** → `409
      idempotency_key_in_progress`. Repita em instantes.

    A ordem dos campos no JSON não invalida o retry. A chave vale por 24
    horas e é sua: dois clientes diferentes podem usar `pedido-1` sem
    colidir.

    ## Erros

    Todo erro - inclusive os que não previmos - tem a mesma forma:

    ```json
    {
      "error": {
        "type": "invalid_request_error",
        "code": "amount_below_minimum",
        "message": "…",
        "details": {}
      }
    }
    ```

    Trate pelo `code`, nunca pela `message`: o código é contrato, o texto
    pode ser reescrito a qualquer momento.

  contact:
    name: Suporte Vext
    url: https://wa.me/5511936185272

servers:
  - url: https://api.usevext.com
    description: Produção

security:
  - apiKey: []

tags:
  - name: Cobranças
    description: Criação, consulta e estorno de cobranças, no PIX e no cartão.
  - name: Saldo
    description: Quanto o vendedor tem e quanto pode sacar.
  - name: Cartões
    description: |
      Os cartões que os compradores deixaram guardados, para cobrar de novo
      sem pedir nada a eles.
  - name: Checkout
    description: |
      As sessões que o embed cobra. Abertas com a chave secreta, no seu
      servidor; consumidas no navegador do comprador.
  - name: Embed
    description: |
      O que o NAVEGADOR do comprador chama, com a chave publicável. Grupo
      fechado: nenhum outro endpoint desta API aceita uma `pk_`.

paths:
  /v1/charges:
    post:
      tags: [Cobranças]
      summary: Criar cobrança PIX
      operationId: createCharge
      description: |
        Cria uma cobrança PIX com split entre o vendedor e a plataforma. A
        resposta traz o payload copia-e-cola (`pix.qr_code`) já pronto para
        exibir ao comprador.

        A imagem do QR **não** é devolvida: ela é derivada do payload na
        hora de exibir, e mandar um PNG em base64 em toda resposta
        multiplicaria o corpo por algo que você gera localmente.
      security:
        - apiKey: [charges:write]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChargeRequest'
            examples:
              simples:
                summary: Cobrança de R$ 100,00
                value:
                  amount: 10000
                  description: Curso de Vue 3
                  reference: pedido-1042
                  metadata:
                    carrinho: cart_88f21
                    campanha: black-friday
                  customer_ip: 189.45.12.7
                  customer:
                    name: João Comprador
                    email: joao@exemplo.com.br
                    document: '11144477735'
                    document_type: CPF
                    phone_ddd: '11'
                    phone_number: '987654321'
              comItens:
                summary: Com itens discriminados
                description: |
                  A soma de `quantity * amount` de todos os itens precisa
                  bater exatamente com `amount`. Sem essa conferência o
                  comprador veria um total diferente da soma do que está
                  levando.
                value:
                  amount: 10000
                  expires_in: 1800
                  customer:
                    name: Maria Compradora
                    document: '11144477735'
                  items:
                    - code: curso-vue
                      description: Curso de Vue 3
                      quantity: 1
                      amount: 6000
                    - code: ebook
                      description: E-book de apoio
                      quantity: 2
                      amount: 2000
      responses:
        '201':
          description: Cobrança criada e aguardando pagamento.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
              examples:
                criada:
                  $ref: '#/components/examples/ChargePendente'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/CardDeclined'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/UnprocessableCharge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/ProviderUnavailable'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'

    get:
      tags: [Cobranças]
      summary: Listar cobranças
      operationId: listCharges
      description: |
        Lista as cobranças da conta, da mais recente para a mais antiga.
        Apenas as cobranças do vendedor dono da chave - não existe forma de
        alcançar a venda de outra conta por esta API.
      security:
        - apiKey: [charges:read]
      parameters:
        - name: status
          in: query
          description: Filtra por situação.
          schema:
            $ref: '#/components/schemas/ChargeStatus'
        - name: reference
          in: query
          description: |
            Sua referência, exatamente como enviada em `reference` na
            criação. É o caminho para reencontrar uma cobrança sem guardar
            o `id` que devolvemos.
          schema:
            type: string
            maxLength: 120
          example: pedido-1042
        - name: created_from
          in: query
          description: Criadas a partir desta data e hora (ISO 8601).
          schema:
            type: string
            format: date-time
          example: '2026-08-01T00:00:00-03:00'
        - name: created_to
          in: query
          description: Criadas até esta data e hora (ISO 8601).
          schema:
            type: string
            format: date-time
          example: '2026-08-31T23:59:59-03:00'
        - name: per_page
          in: query
          description: |
            Itens por página. O teto de 100 existe porque uma página gigante
            de um vendedor com histórico degrada a consulta para todos os
            outros.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Página de cobranças.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeList'
              examples:
                pagina:
                  summary: Primeira página
                  value:
                    object: list
                    data:
                      - object: charge
                        id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                        status: paid
                        payment_method: pix
                        amount: 10000
                        currency: BRL
                        platform_fee: 798
                        net_amount: 9103
                        refunded_amount: 0
                        description: Curso de Vue 3
                        reference: pedido-1042
                        metadata:
                          carrinho: cart_88f21
                          campanha: black-friday
                        customer:
                          name: João Comprador
                          email: joao@exemplo.com.br
                          document: '111.***.***-35'
                        pix:
                          qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                          expires_at: '2026-08-04T15:00:00+00:00'
                          end_to_end_id: E12345678202608041200
                        created_at: '2026-08-04T14:00:00+00:00'
                        paid_at: '2026-08-04T14:03:11+00:00'
                        expired_at: null
                        refunded_at: null
                    pagination:
                      page: 1
                      per_page: 25
                      total: 1
                      total_pages: 1
                      has_more: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/charges/{code}:
    get:
      tags: [Cobranças]
      summary: Consultar cobrança
      operationId: getCharge
      security:
        - apiKey: [charges:read]
      parameters:
        - $ref: '#/components/parameters/ChargeCode'
      responses:
        '200':
          description: A cobrança.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
              examples:
                paga:
                  $ref: '#/components/examples/ChargePaga'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/charges/{code}/refund:
    post:
      tags: [Cobranças]
      summary: Estornar cobrança
      operationId: refundCharge
      description: |
        Devolve o dinheiro ao comprador, no todo ou em parte.

        Sem `amount`, devolve **o que ainda cabe estornar** - e não o valor
        da venda. Numa cobrança já devolvida pela metade, mandar o valor
        cheio de volta tiraria o dinheiro duas vezes do vendedor.

        O estorno **não** é barrado por falta de saldo: o dinheiro é do
        comprador e precisa voltar. Se o vendedor já sacou, o saldo dele
        fica negativo e as vendas seguintes cobrem automaticamente.

        `amount`, `fee_returned` e `seller_debit` respondem coisas
        diferentes e por isso vêm separados - é o que evita a pergunta "por
        que saíram R$ 93,01 se eu estornei R$ 100,00?".
      security:
        - apiKey: [refunds:write]
      parameters:
        - $ref: '#/components/parameters/ChargeCode'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundChargeRequest'
            examples:
              integral:
                summary: Estorno do que resta
                value:
                  reason: Comprador desistiu
              parcial:
                summary: Estorno parcial de R$ 40,00
                value:
                  amount: 4000
                  reason: Devolução de um item
      responses:
        '201':
          description: Estorno registrado e enviado ao provedor.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              examples:
                estornado:
                  summary: Estorno integral de R$ 100,00
                  description: |
                    O comprador recebe `amount`. Do saldo do vendedor sai
                    `seller_debit`; `fee_returned` é a parte da nossa taxa
                    que devolvemos. Sempre
                    `amount = seller_debit + fee_returned`.
                  value:
                    object: refund
                    id: rf_01k1y7c3n8b5w2q9r4t6y8u1i3
                    charge: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                    status: succeeded
                    amount: 10000
                    currency: BRL
                    fee_returned: 699
                    seller_debit: 9301
                    reason: Comprador desistiu
                    failed_reason: null
                    created_at: '2026-08-05T10:12:00+00:00'
                    processed_at: '2026-08-05T10:12:02+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/UnprocessableRefund'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/ProviderUnavailable'

  /v1/balance:
    get:
      tags: [Saldo]
      summary: Consultar saldo
      operationId: getBalance
      description: |
        Quatro números, porque respondem perguntas diferentes:

        - `balance` - tudo que o vendedor ganhou e ainda não sacou.
        - `reserved` - a parte que a reserva rolante ainda segura.
        - `available` - o que já pode sair pelo nosso extrato.
        - `withdrawable` - o **menor** entre o nosso disponível e o do
          provedor. É este que vale para pedir saque: usar só o nosso
          permitiria pedir dinheiro que a adquirente ainda não liberou.

        `provider` e `withdrawable` vêm `null` quando a consulta ao provedor
        falha. `null` não é zero: zero diria que não há dinheiro, quando o
        que houve foi uma consulta que não respondeu. O resto do saldo, que
        é nosso, continua correto.
      security:
        - apiKey: [balance:read]
      responses:
        '200':
          description: Saldo da conta.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
              examples:
                normal:
                  summary: Provedor respondeu
                  value:
                    object: balance
                    currency: BRL
                    balance: 92020
                    available: 82818
                    reserved: 9202
                    debt: 0
                    withdrawable: 50000
                    provider:
                      available: 50000
                      waiting_funds: 7000
                indisponivel:
                  summary: Provedor não respondeu
                  value:
                    object: balance
                    currency: BRL
                    balance: 92020
                    available: 82818
                    reserved: 9202
                    debt: 0
                    withdrawable: null
                    provider: null
                emDivida:
                  summary: Vendedor no vermelho
                  description: |
                    Acontece quando um estorno chega depois do saque. Não é
                    erro: as próximas vendas cobrem a dívida
                    automaticamente, e apenas o saque fica bloqueado até lá.
                  value:
                    object: balance
                    currency: BRL
                    balance: -9301
                    available: 0
                    reserved: 0
                    debt: 9301
                    withdrawable: 0
                    provider:
                      available: 0
                      waiting_funds: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/cards:
    get:
      tags: [Cartões]
      summary: Listar cartões guardados
      operationId: listSavedCards
      description: |
        Os cartões que os seus compradores deixaram guardados.

        Um cartão entra no cofre como **efeito de uma venda aprovada** com
        `save_card: true` - não existe endpoint para criar um. A regra é a
        que sustenta o resto: cartão guardado é cartão que já passou.

        O que você recebe é o `id` (`pm_…`), a bandeira, os quatro últimos
        dígitos e a validade. As referências que de fato cobram ficam do
        nosso lado, e o `pm_` existe justamente para que você não precise
        delas.

        Os vencidos não aparecem por padrão. Peça `include_expired=1` para
        entender por que o pagamento de um clique parou de funcionar para
        um comprador.
      security:
        - apiKey: [cards:manage]
      parameters:
        - name: customer_document
          in: query
          description: |
            CPF ou CNPJ do comprador, com ou sem pontuação. É o que você
            tem em mãos na hora de oferecer um upsell - e poupa você de
            guardar mais um identificador nosso.
          schema:
            type: string
        - name: include_expired
          in: query
          schema:
            type: boolean
            default: false
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Página de cartões.
          content:
            application/json:
              schema:
                type: object
                required: [object, data, pagination]
                properties:
                  object:
                    type: string
                    const: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SavedCard'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/cards/{code}:
    get:
      tags: [Cartões]
      summary: Consultar cartão guardado
      operationId: getSavedCard
      security:
        - apiKey: [cards:manage]
      parameters:
        - $ref: '#/components/parameters/SavedCardCode'
      responses:
        '200':
          description: O cartão.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedCard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

    delete:
      tags: [Cartões]
      summary: Remover cartão guardado
      operationId: deleteSavedCard
      description: |
        Revoga o cartão. **A linha fica**: um cartão apagado não responde
        "com que cartão foi aquela cobrança de março?", que é exatamente a
        pergunta de quem remove uma credencial suspeita.

        A partir daqui, cobrar com este `pm_` devolve `422 card_revoked`.
      security:
        - apiKey: [cards:manage]
      parameters:
        - $ref: '#/components/parameters/SavedCardCode'
      responses:
        '200':
          description: O cartão, agora revogado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedCard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/checkout_sessions:
    post:
      tags: [Checkout]
      summary: Abrir sessão de checkout
      operationId: createCheckoutSession
      description: |
        Abre uma sessão para o **embed** cobrar: o seu servidor diz quanto
        e de quem, e o navegador do comprador só confirma.

        A resposta traz um `client_secret`, e é ele que você entrega ao
        JavaScript da sua página:

        ```js
        const vext = Vext('pk_live_…')
        vext.checkout({ clientSecret }).mount('#pagamento')
        ```

        ## Quando abrir a sessão

        No Drop-in comum, **antes** de montar o quadro: o valor fica
        congelado desde ali, e é esse modo que tem Vext Link, cartão
        guardado e compra de um clique.

        No **Drop-in diferido**, no clique de pagar. O quadro monta sem
        sessão nenhuma - com o total declarado no navegador, que só serve
        para desenhar - e chama o `onConfirm` do lojista quando o
        comprador termina de preencher. É o modo para páginas em que o
        carrinho ainda muda depois de o pagamento estar na tela: order
        bump, cupom, frete calculado.

        A sessão é a mesma nos dois; o que muda é o instante em que ela
        nasce. E a regra abaixo vale igual: o valor é o desta chamada, e
        o navegador não o contradiz - no diferido, um total de tela
        diferente do desta sessão faz o quadro **recusar** a cobrança em
        vez de cobrar qualquer um dos dois.

        ## Por que a sessão existe

        O valor, os itens e a loja ficam **congelados aqui**. A confirmação
        que vem do navegador não os informa - um `amount` no corpo dela é
        ignorado. Sem isso, a chave publicável, que está no código-fonte da
        sua página e qualquer um copia, seria uma porta de cobrança de
        valor arbitrário.

        O mesmo vale para **como** se paga: `payment_methods` congela aqui
        os meios que esta venda oferece. Omiti-lo é o caso normal e
        significa todos os que a sua loja aceita - o campo existe para
        oferecer MENOS, nunca mais.

        O `client_secret` é a capacidade de cobrar por **esta** sessão, e
        existe uma única vez: guardamos só um hash. Ele é diferente do
        `id` de propósito - o `id` você registra no seu sistema e aparece
        em log; o segredo você entrega ao navegador e esquece.
      security:
        - apiKey: [checkout:write]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutSessionRequest'
            examples:
              simples:
                summary: Carrinho de R$ 127,75
                value:
                  amount: 12775
                  description: Curso de Vue 3
                  reference: pedido-1042
                  items:
                    - code: curso-vue
                      description: Curso de Vue 3
                      quantity: 1
                      amount: 12775
              comComprador:
                summary: Com o comprador já conhecido
                description: |
                  `customer` é PRÉ-PREENCHIMENTO, e continua editável na
                  tela: quem está com o cartão na mão é quem sabe o nome
                  impresso nele.
                value:
                  amount: 12775
                  items:
                    - description: Curso de Vue 3
                      quantity: 1
                      amount: 12775
                  customer:
                    name: João Comprador
                    email: joao@exemplo.com.br
                    document: '11144477735'
              apenasPix:
                summary: Estreitando os meios desta venda
                description: |
                  Sem `payment_methods` a sessão oferece **tudo** o que a
                  loja aceita. Declare o campo só para oferecer menos do
                  que isso - aqui, um produto que você não quer vender
                  parcelado.
                value:
                  amount: 12775
                  payment_methods: [pix]
                  items:
                    - description: Curso de Vue 3
                      quantity: 1
                      amount: 12775
      responses:
        '201':
          description: Sessão aberta. O `client_secret` aparece só aqui.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/checkout_sessions/{code}:
    get:
      tags: [Checkout]
      summary: Consultar sessão
      operationId: getCheckoutSession
      description: |
        A sessão como o seu servidor a vê - **sem** o `client_secret`, que
        existe uma vez só. Use `charge_id` para ligar o carrinho à venda.
      security:
        - apiKey: [checkout:write]
      parameters:
        - $ref: '#/components/parameters/CheckoutSessionCode'
      responses:
        '200':
          description: A sessão.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/checkout_sessions/{code}/expire:
    post:
      tags: [Checkout]
      summary: Encerrar sessão
      operationId: expireCheckoutSession
      description: |
        Encerra a sessão antes do prazo. Existe porque o carrinho muda: o
        comprador volta e troca o produto, e a sessão antiga continuaria
        cobrável até vencer.

        Uma sessão que **já virou venda** responde `422`. "Cancelei" sobre
        uma venda que aconteceu é a resposta que faz alguém deixar de
        entregar um produto pago.
      security:
        - apiKey: [checkout:write]
      parameters:
        - $ref: '#/components/parameters/CheckoutSessionCode'
      responses:
        '200':
          description: A sessão, agora cancelada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/embed/sessions/{code}:
    get:
      tags: [Embed]
      summary: Ler a sessão (navegador)
      operationId: embedShowSession
      description: |
        O que o comprador está prestes a pagar. **Chamado pelo iframe**,
        com a chave publicável e o `client_secret` da sessão no cabeçalho
        `X-Vext-Client-Secret`.

        Devolve o necessário para desenhar o checkout e nada além:
        `reference` e `metadata` **não** estão aqui. São dados seus, e esta
        resposta chega a um navegador que qualquer pessoa abre com as
        ferramentas de desenvolvedor.

        O `payment_methods` desta resposta é o da sessão cruzado com a
        disponibilidade de AGORA, e não o que foi congelado na abertura: o
        cartão pode ter saído do ar entre uma coisa e outra, e desenhar uma
        aba que vai recusar na confirmação é pior do que não desenhá-la.
        Ele pode até vir **vazio** - é o caso em que o quadro mostra a
        frase de indisponibilidade em vez do formulário.
      security:
        - publishableKey: []
      parameters:
        - $ref: '#/components/parameters/CheckoutSessionCode'
        - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: A sessão, na visão do comprador.
        '404':
          description: |
            Sessão inexistente, segredo errado ou sessão de outra loja - as
            três com a MESMA resposta. Separá-las transformaria o endpoint
            num oráculo de códigos existentes.
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/embed/sessions/{code}/confirm:
    post:
      tags: [Embed]
      summary: Confirmar a sessão (navegador)
      operationId: embedConfirmSession
      description: |
        Cobra pela sessão. **Chamado pelo iframe**, nunca pelo seu
        servidor.

        O corpo traz o comprador, o método escolhido e - só no cartão - o
        token e o endereço de cobrança. **Nunca o valor**: um `amount` aqui
        é ignorado, e é essa a razão de a sessão existir.

        Uma sessão, uma cobrança: repetir a chamada devolve a MESMA venda.
        A garantia é do banco, por índice único, e não deste código - dois
        cliques simultâneos chegariam ao mesmo `if` antes de qualquer um
        gravar.

        No PIX a cobrança nasce `pending` e a resposta não diz o desfecho,
        porque na hora dela ele ainda não existe: quem resolve é o webhook
        do banco. É para isso que serve
        `GET /v1/embed/sessions/{code}/status`.
      security:
        - publishableKey: []
      parameters:
        - $ref: '#/components/parameters/CheckoutSessionCode'
        - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbedConfirmSessionRequest'
      responses:
        '201':
          description: A cobrança.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        '402':
          description: |
            O pagamento não saiu - e a FAMÍLIA do erro depende do método.

            No **cartão** é `card_error` / `card_declined`: houve um
            emissor, e foi ele quem disse não.

            No **PIX** é `api_error` / `pix_failed`, e a diferença não é
            cosmética: não houve emissor nem cartão, e responder
            `card_declined` mandaria o comprador - e você, que escuta o
            resultado por `postMessage` - procurar problema num cartão que
            ninguém usou. A mensagem é genérica de propósito: a recusa crua
            do provedor descreve o estado da CONTA da loja, e esta resposta
            chega a um navegador que qualquer pessoa abre. O motivo de
            verdade fica na cobrança e no log, onde o suporte o encontra.

            Nos dois casos **a cobrança existe** e o código dela vem em
            `error.details.charge_id`. E, nos dois, a recusa é `402` e não
            `201` com `status: "failed"` pela mesma razão do
            `POST /v1/charges`: aquele corpo é exatamente o que uma
            integração escrita como `if (response.ok) { liberar(); }` lê
            como sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                cartaoRecusado:
                  summary: card_declined
                  value:
                    error:
                      type: card_error
                      code: card_declined
                      message: O cartão não tem saldo ou limite disponível. Tente outro cartão.
                      details:
                        charge_id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                pixFalhou:
                  summary: pix_failed
                  description: |
                    O provedor não emitiu o QR. Não há o que o comprador
                    corrija num cartão, então a saída oferecida é tentar de
                    novo ou trocar de método.
                  value:
                    error:
                      type: api_error
                      code: pix_failed
                      message: >-
                        Não conseguimos gerar o código Pix agora. Tente de
                        novo em instantes ou pague no cartão.
                      details:
                        charge_id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
        '404':
          description: Sessão inexistente, segredo errado ou de outra loja.
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          description: |
            Tentativas demais NESTA sessão. O limite é por sessão, e
            apertado: quem testa cartão em lote precisa de uma sessão nova
            a cada poucas tentativas, e sessão só nasce no seu servidor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/embed/sessions/{code}/status:
    get:
      tags: [Embed]
      summary: Desfecho da sessão (navegador)
      operationId: embedSessionStatus
      description: |
        Já pagou? **Chamado pelo iframe**, com a chave publicável e o
        `client_secret` da sessão no cabeçalho `X-Vext-Client-Secret` -
        exatamente como a leitura da sessão.

        Existe para o **PIX**, que nasce `pending`. A confirmação devolve a
        cobrança, e não o desfecho: quem resolve é o webhook do banco, que
        chega quando o comprador abre o aplicativo dele e paga - segundos
        ou minutos depois. O quadro consulta daqui até o pagamento cair,
        expirar ou falhar.

        Preso à SESSÃO, e não à cobrança, porque a autorização já está
        montada nela: código, segredo e a chave da loja. Um endpoint por
        cobrança teria de inventar a própria, e um `ch_` sozinho não pode
        ser suficiente para ler uma venda.

        Devolve o mínimo, de propósito. Quem consulta a cada poucos
        segundos é um navegador numa página que qualquer pessoa abre;
        repetir aqui valor, comprador e itens seria entregá-los a quem tem
        apenas o código da sessão.
      security:
        - publishableKey: []
      parameters:
        - $ref: '#/components/parameters/CheckoutSessionCode'
        - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: O desfecho, ou a ausência dele.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionStatus'
              examples:
                aguardando:
                  summary: QR emitido, ninguém pagou ainda
                  value:
                    object: checkout_session_status
                    id: cs_01k1y6r6m6q2x0p3d9v4t7c8n2
                    charge_id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                    status: pending
                    paid: false
                    paid_at: null
                pago:
                  summary: Pago, com a data ainda por chegar
                  description: |
                    `paid` já é `true` e `paid_at` continua `null`. Não é
                    inconsistência: a data vem do webhook e chega depois.
                    Quem decide que acabou é `paid`.
                  value:
                    object: checkout_session_status
                    id: cs_01k1y6r6m6q2x0p3d9v4t7c8n2
                    charge_id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                    status: paid
                    paid: true
                    paid_at: null
                semCobranca:
                  summary: Sessão que ainda não foi confirmada
                  description: |
                    Consultar antes do `confirm` é legítimo, e responde
                    `200` com os campos nulos. Um `404` aqui faria o quadro
                    desistir de um pagamento que ainda vai acontecer.
                  value:
                    object: checkout_session_status
                    id: cs_01k1y6r6m6q2x0p3d9v4t7c8n2
                    charge_id: null
                    status: null
                    paid: false
                    paid_at: null
        '404':
          description: |
            Sessão inexistente, segredo errado ou sessão de outra loja - as
            três com a MESMA resposta, pela mesma razão da leitura: separá-las
            transformaria o endpoint num oráculo de códigos existentes.
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/embed/sessions/{code}/link/lookup:
    post:
      tags: [Embed]
      summary: Reconhecer o comprador (navegador)
      operationId: embedLinkLookup
      description: |
        O comprador digitou o e-mail. Se já houver cartão guardado para ele
        **nesta loja**, um código de seis dígitos sai por e-mail.

        **A resposta não diz se conhecemos o endereço.** Ela é idêntica nos
        dois casos, e a máscara devolvida vem do que foi digitado, não do
        que sabemos. Um campo a mais aqui transformaria o quadro num
        oráculo: quem tem uma lista de e-mails vazados descobriria quais
        deles compram onde.

        O limite é por **sessão**, e não por chave: o que encarece varrer
        este endpoint é cada sessão nova exigir a sua chave secreta.
      security:
        - publishableKey: []
      parameters:
        - $ref: '#/components/parameters/CheckoutSessionCode'
        - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  example: comprador@exemplo.com
      responses:
        '200':
          description: |
            Pedido aceito. **Não** significa que enviamos alguma coisa.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: link_lookup
                  email_hint:
                    type: string
                    description: O e-mail digitado, mascarado.
                    example: c•••@exemplo.com
                  resend_in:
                    type: integer
                    description: Segundos até o reenvio destravar.
                    example: 60
        '403':
          description: |
            `link_unavailable` - esta sessão não oferece o recurso. Acontece
            quando a loja exige 3DS (que é incompatível com cartão
            guardado), quando a sessão já aponta para um cartão, ou quando o
            cartão está indisponível.
        '404':
          $ref: '#/components/responses/EmbedSessionNotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/embed/sessions/{code}/link/code:
    post:
      tags: [Embed]
      summary: Reenviar o código (navegador)
      operationId: embedLinkResend
      description: |
        Manda o código de novo, para o mesmo e-mail da consulta anterior.

        Um código **novo**: o anterior deixa de valer. Guardar o código em
        claro para poder repeti-lo seria manter credencial viva em repouso
        no banco, e é isso que não fazemos.

        A faixa mais apertada do grupo, porque é a única chamada que custa
        dinheiro - cada acerto manda um e-mail em nome da Vext.
      security:
        - publishableKey: []
      parameters:
        - $ref: '#/components/parameters/CheckoutSessionCode'
        - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: |
            Mesma forma da consulta - e, como lá, ela não diz se algo foi
            enviado.
        '403':
          description: '`link_unavailable`.'
        '404':
          $ref: '#/components/responses/EmbedSessionNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/embed/sessions/{code}/link/verify:
    post:
      tags: [Embed]
      summary: Confirmar o código (navegador)
      operationId: embedLinkVerify
      description: |
        Os seis dígitos.

        Aprovado, a **sessão** passa a valer como verificada - e só ela.
        Não existe login: a autorização morre quando a sessão vira cobrança
        ou expira.

        Por padrão o navegador recebe um cookie que lembra o aparelho por
        90 dias, para que a próxima compra **nesta mesma loja** não peça
        código. Mande `remember: false` para não lembrar. O cookie é
        `Partitioned`: o navegador o guarda numa gaveta por site de topo, e
        ele não é apresentado em outra loja.

        Código errado, código vencido e sessão sem código respondem todos
        `verified: false`. A distinção entre "errado" e "não existe" seria o
        mesmo oráculo que a consulta evita.
      security:
        - publishableKey: []
      parameters:
        - $ref: '#/components/parameters/CheckoutSessionCode'
        - $ref: '#/components/parameters/ClientSecretHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: |
                    Seis dígitos, como **texto**. Os zeros à esquerda
                    contam.
                  example: '012345'
                remember:
                  type: boolean
                  default: true
      responses:
        '200':
          description: |
            `verified: true` com o cookie do aparelho, ou `verified: false`
            com o motivo.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: link_verification
                  verified:
                    type: boolean
                  reason:
                    type: string
                    enum: [invalid, expired, blocked]
                  attempts_left:
                    type: integer
        '403':
          description: '`link_unavailable`.'
        '404':
          $ref: '#/components/responses/EmbedSessionNotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/embed/sessions/{code}/link/cards:
    get:
      tags: [Embed]
      summary: Cartões do comprador reconhecido (navegador)
      operationId: embedLinkCards
      description: |
        Os cartões guardados de quem confirmou o código.

        Única porta para essa lista, e só depois da verificação: é o que
        impede um e-mail digitado de virar, sozinho, a bandeira e o final
        do cartão de alguém.

        Devolve o `pm_` e o que se mostra na tela. O identificador da
        Pagar.me nunca sai daqui.
      security:
        - publishableKey: []
      parameters:
        - $ref: '#/components/parameters/CheckoutSessionCode'
        - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: A lista, possivelmente vazia.
        '403':
          description: |
            `link_not_verified` quando o código ainda não foi confirmado, ou
            `link_unavailable`.
        '404':
          $ref: '#/components/responses/EmbedSessionNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/embed/sessions/{code}/link/cards/{card}:
    delete:
      tags: [Embed]
      summary: Remover um cartão guardado (navegador)
      operationId: embedLinkForgetCard
      description: |
        O comprador removendo o próprio cartão, sem passar por você.

        Só alcança cartões de quem confirmou o código — o `pm_` é
        procurado na lista dele, e não pelo código solto: um identificador
        visto em qualquer lugar não deve ser removível por quem o tiver.

        **Revoga, não apaga.** A linha continua respondendo "com que cartão
        foi aquela cobrança de março", que é a pergunta de quem remove uma
        credencial por suspeita.

        Devolve a lista já sem ele.
      security:
        - publishableKey: []
      parameters:
        - $ref: '#/components/parameters/CheckoutSessionCode'
        - $ref: '#/components/parameters/ClientSecretHeader'
        - name: card
          in: path
          required: true
          schema:
            type: string
            example: pm_01k1y6r6m6q2x0p3d9v4t7c8n2
      responses:
        '200':
          description: A lista restante.
        '403':
          description: '`link_not_verified` ou `link_unavailable`.'
        '404':
          description: |
            `card_not_found` — não está entre os cartões deste comprador. É
            a mesma resposta para um código inexistente.
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/embed/sessions/{code}/link:
    delete:
      tags: [Embed]
      summary: Não sou eu (navegador)
      operationId: embedLinkForget
      description: |
        Derruba o reconhecimento desta sessão, apaga o cookie e revoga o
        aparelho lembrado.

        **Não** confere disponibilidade: desistir precisa funcionar mesmo
        depois de o recurso ficar indisponível no meio do caminho, senão o
        comprador fica preso numa tela que diz o nome de outra pessoa.
      security:
        - publishableKey: []
      parameters:
        - $ref: '#/components/parameters/CheckoutSessionCode'
        - $ref: '#/components/parameters/ClientSecretHeader'
      responses:
        '200':
          description: Reconhecimento desfeito.
        '404':
          $ref: '#/components/responses/EmbedSessionNotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/installments:
    get:
      tags: [Cobranças]
      summary: Grade de parcelas
      operationId: listInstallments
      description: |
        A tabela de parcelamento para um valor, do lado do **seu servidor**.

        O cálculo é nosso e é o mesmo que roda no checkout e no embed.
        Reimplementá-lo do seu lado para poupar esta chamada criaria duas
        contas capazes de divergir - e divergir aqui é anunciar um preço e
        nós cobrarmos outro.

        A grade vem inteira, bandeira por bandeira, porque a bandeira só é
        conhecida quando o comprador digita os seis primeiros dígitos. A
        chave `default` é o pior caso, e é o que se mostra antes disso.

        Ao contrário da gêmea do embed, esta **diz por que** o cartão está
        indisponível: quem apresenta a chave secreta é o seu servidor, e o
        motivo é acionável para você.
      security:
        - apiKey: [charges:read]
      parameters:
        - name: amount
          in: query
          required: true
          description: O valor a parcelar, em **centavos inteiros**.
          schema:
            type: integer
            minimum: 1
          example: 10000
        - name: max_installments
          in: query
          description: |
            O teto que você quer impor. O limite real é o **menor** entre
            ele, a escada por valor e a taxa da sua conta - um número maior
            aqui não amplia nada.
          schema:
            type: integer
            minimum: 1
            maximum: 12
      responses:
        '200':
          description: A grade, ou o motivo de não haver uma.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Installments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/vext.js:
    get:
      tags: [Embed]
      summary: O script do embed
      operationId: embedScript
      description: |
        O carregador que você cola na página. **Endereço fixo e para
        sempre** - é o único desta API escrito à mão no HTML de terceiros,
        e um nome que mudasse a cada versão nossa quebraria o checkout de
        toda loja.

        ```html
        <div id="cartao"></div>
        <script src="https://api.usevext.com/v1/vext.js"></script>
        <script>
          const vext = Vext('pk_live_…')
          const card = vext.elements().create('card')
          card.mount('#cartao')
        </script>
        ```

        Ele monta um iframe nosso e conversa com ele por `postMessage`. O
        número do cartão fica dentro desse quadro e **não** passa nem pela
        sua página nem pelo nosso servidor - é o que mantém as duas casas
        fora do escopo de PCI.

        O arquivo é pequeno de propósito (~3 kB comprimido): ele é baixado
        por todo visitante do seu site, inclusive por quem nunca chega ao
        pagamento. O formulário de verdade vive no iframe, e só é buscado
        por quem abre o checkout.
      security: []
      responses:
        '200':
          description: O script.
          headers:
            Cache-Control:
              description: |
                Prazo curto, de propósito: é o botão de emergência. Um
                defeito no carregador só sai das lojas quando o cache
                vence, e não há a quem pedir que o limpe.
              schema:
                type: string
                example: public, max-age=300
          content:
            application/javascript:
              schema:
                type: string
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/embed/elements:
    get:
      tags: [Embed]
      summary: O documento do iframe
      operationId: embedElements
      description: |
        A página que roda dentro do iframe. **Você não abre este endereço:**
        quem o monta é o `vext.js`, com a chave e a origem nos parâmetros.

        Está documentada porque a resposta dela carrega a decisão que mais
        confunde quem integra - o cabeçalho `Content-Security-Policy` com
        `frame-ancestors`. É ele, e não a conferência de origem, que impede
        um site não cadastrado de embutir o formulário: a lista sai dos
        **domínios autorizados** da chave, e quem aplica é o navegador.

        Um domínio fora da lista recebe `403 origin_not_allowed` antes de
        chegar aqui. Um quadro que carrega em branco, sem erro nenhum no
        console, quase sempre é o contrário disso: a chave está certa e o
        domínio não está cadastrado.

        Os parâmetros de **aparência** - `theme`, `accent` e `button` - não
        são escritos à mão por ninguém: o `vext.js` os monta a partir das
        opções que você passa a `Vext(pk).checkout({ clientSecret, theme,
        accentColor, submitButton })` ou a `Vext(pk).elements({ theme,
        accentColor })`. Estão documentados aqui por dois motivos: para
        quem precisa entender o que a URL do quadro carrega ao depurar, e
        para deixar registrado que **quem valida os três é o servidor**, e
        não o carregador. O navegador do comprador pode reescrever a URL
        do iframe à vontade; o que decide o que a página aceita é esta
        camada.

        Os três seguem a mesma regra diante de um valor que não reconhecem:
        **caem no padrão, em silêncio, e a página monta assim mesmo.** Um
        quadro que se recusasse a renderizar por causa de uma cor mal
        escrita trocaria um detalhe estético por uma venda perdida.
      security:
        - publishableKey: []
      parameters:
        - name: pk
          in: query
          required: true
          description: |
            A chave publicável. Vai na URL, e não no cabeçalho, porque a
            navegação que carrega um iframe não tem como enviar cabeçalho.
          schema:
            type: string
            pattern: '^pk_(live|test)_[0-9A-Za-z]{32}$'
        - name: origin
          in: query
          description: |
            A origem da página que está embutindo. Declarada pelo
            carregador para que um domínio não cadastrado receba um erro
            legível em vez de um quadro em branco - a segurança de verdade
            é o `frame-ancestors` da resposta.
          schema:
            type: string
            format: uri
        - name: theme
          in: query
          description: |
            O tema do quadro. O padrão é `auto`, que segue o
            `prefers-color-scheme` do comprador - e é o padrão porque a
            página do lojista quase sempre já segue o mesmo sinal, de modo
            que o quadro acompanha o site sem ninguém configurar nada.
            `light` e `dark` fixam a escolha e ignoram o sistema.

            Vai na URL, e não por `postMessage` depois de montar, porque o
            tema precisa estar aplicado no **primeiro quadro desenhado**:
            mandado por mensagem, o comprador veria o formulário claro
            piscar antes de escurecer.

            **Um valor desconhecido vira `auto`, e não um erro.** A
            resposta é `200` com a página montada no tema automático: um
            iframe que se recusasse a carregar porque alguém escreveu
            `darkk` custaria a venda inteira para acertar uma cor.

            Montado pelo `vext.js` a partir da opção `theme`. Quando ela
            não é declarada, o parâmetro nem sequer viaja - o padrão já é
            do servidor, e mandar `theme=auto` explicitamente não diria
            nada que a ausência já não diga.
          schema:
            type: string
            enum: [light, dark, auto]
            default: auto
        - name: accent
          in: query
          description: |
            A cor de destaque do lojista, em hexadecimal de **três ou seis
            dígitos**, com ou sem `#` (`#18181b`, `18181b`, `#e11` são
            todos aceitos). É ela que pinta o botão de pagar e a borda de
            foco dos campos, para o quadro não destoar do resto da página.
            O padrão é `#18181b`.

            **Valor fora desse formato vira o padrão, em silêncio** - e a
            restrição é de SEGURANÇA, não de gosto. O valor é escrito numa
            *custom property* CSS **dentro do documento que tem o campo de
            cartão**: `red; } html { display: none` é uma "cor"
            perfeitamente aceitável para um atributo de estilo, e a partir
            dela a URL do iframe passaria a redesenhar - ou a esconder - o
            formulário de pagamento de quem está comprando. O formato
            fechado é o que impede que um parâmetro de query mexa no que a
            pessoa vê na hora de digitar o cartão.

            Montado pelo `vext.js` a partir da opção `accentColor`.
          schema:
            type: string
            pattern: '^#?([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$'
            default: '#18181b'
          example: '#18181b'
        - name: button
          in: query
          description: |
            `false` esconde o botão de pagar do quadro, para o lojista
            desenhar o dele e disparar a cobrança por `confirm()`. Qualquer
            outro valor - e a ausência do parâmetro - mantém o botão.

            **Só o `false` explícito tira**, e a assimetria é deliberada:
            esconder o botão por engano deixaria o quadro sem como cobrar,
            e quem não pediu isso também não escreveu o `confirm()` do
            outro lado. O quadro ficaria bonito, montado, e incapaz de
            fechar uma venda - sem erro nenhum para explicar por quê. Um
            padrão que só se inverte quando alguém escreve a palavra é o
            que garante que omitir a opção nunca tire nada de quem já
            integrou.

            Montado pelo `vext.js` a partir da opção `submitButton`.
          schema:
            type: string
            enum: ['false']
        - name: mode
          in: query
          description: |
            Qual das duas superfícies está sendo montada. `elements` é só o
            campo de cartão, que devolve um token para o servidor do
            lojista cobrar; `checkout` é o Drop-in, que pede os dados do
            comprador, oferece Pix e confirma sozinho.

            **Um valor desconhecido vira `elements`**, o mais restrito dos
            dois: quem errou o nome do modo recebe menos do que pediu,
            nunca mais.

            Montado pelo `vext.js` conforme você tenha chamado
            `Vext(pk).elements(…)` ou `Vext(pk).checkout(…)`.
          schema:
            type: string
            enum: [elements, checkout]
            default: elements
        - name: amount
          in: query
          description: |
            O total em **centavos inteiros**, e só no Drop-in diferido -
            aquele montado com `Vext(pk).checkout({ amount, onConfirm })`,
            sem `client_secret`. Ver
            [Drop-in diferido](/embed/drop-in-diferido).

            **Este valor não cobra nada.** Ele existe para o servidor
            calcular a grade de parcelas e escrever o total dentro do
            documento do quadro, de modo que o formulário apareça completo
            na primeira pintura, sem nenhuma chamada. Quem cobra é a
            sessão que o servidor do lojista abre no clique de pagar - e o
            quadro **recusa** a cobrança quando o valor da sessão é
            diferente deste, com `amount_mismatch`.

            É por isso que aceitá-lo aqui não abre porta nenhuma: a chave
            publicável está no código-fonte de uma página pública, e quem
            reescrever a URL do iframe muda só o número que lê na tela. A
            cobrança continua exigindo a chave secreta do lojista.

            **Valor que não seja inteiro de 1 a 9 dígitos é ignorado**, e a
            página monta sem o preview - o quadro trata a ausência como
            pagamento mal aberto e mostra a frase ao comprador. O
            carregador já recusa antes de montar, então chegar aqui torto
            significa URL adulterada.
          schema:
            type: integer
            minimum: 1
          example: 12775
        - name: methods
          in: query
          description: |
            Os meios que esta venda oferece, separados por vírgula. Só no
            Drop-in diferido, e só quando o lojista quer oferecer **menos**
            do que a loja aceita - omitir já significa todos os
            disponíveis.

            Cruzado com a disponibilidade do momento: um método que a loja
            não aceita não entra na lista por vir escrito aqui.

            Montado pelo `vext.js` a partir da opção `paymentMethods`.
          schema:
            type: string
            example: pix,credit_card
        - name: max_installments
          in: query
          description: |
            O teto de parcelas que o lojista quer impor, de 1 a 12. Só no
            Drop-in diferido.

            O limite real é o **menor** entre este, a escada por valor e a
            taxa da conta - um número grande aqui não amplia nada. Valor
            fora da faixa é ignorado, pela mesma regra da cor de destaque:
            um detalhe mal escrito na montagem não pode custar a venda.

            Montado pelo `vext.js` a partir da opção `maxInstallments`.
          schema:
            type: integer
            minimum: 1
            maximum: 12
          example: 12
      responses:
        '200':
          description: O documento do formulário.
          headers:
            Content-Security-Policy:
              description: '`frame-ancestors` com os domínios autorizados da chave.'
              schema:
                type: string
                example: frame-ancestors https://minhaloja.com.br;
          content:
            text/html:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/embed/three_ds_token:
    post:
      tags: [Embed]
      summary: Token da autenticação do portador
      operationId: embedThreeDsToken
      description: |
        O token de uma tentativa de 3DS, para o navegador falar com o
        servidor da Stone. **Chamado pelo iframe**, no envio do formulário.

        `POST` e não `GET` porque cada chamada gasta um token de uso único:
        um `GET` seria pré-buscado por navegador e por antivírus, e todos
        morreriam antes de alguém tentar pagar.

        Uma loja que não exige autenticação responde **404**. Não é
        descuido: dizer quais lojas autenticam é dizer a quem testa cartão
        roubado por onde entrar.
      security:
        - publishableKey: []
      responses:
        '200':
          description: O token, válido por poucos minutos.
          content:
            application/json:
              schema:
                type: object
                required: [token]
                properties:
                  token:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: |
            O servidor 3DS não respondeu. Tente de novo; a falha fica
            registrada do nosso lado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /v1/embed/postal_code/{zip}:
    get:
      tags: [Embed]
      summary: Endereço por CEP
      operationId: embedPostalCode
      description: |
        Preenche o endereço de cobrança a partir do CEP. Existe neste
        domínio - e não só no do checkout - porque é chamado do iframe, e o
        que tem sessão e CSRF fica deliberadamente fora do alcance de
        `fetch` de outro site.

        Devolve `200` com `address: null` quando não encontra, e não `404`:
        para o formulário, "não achei" não é erro - é o caso normal de um
        CEP que o serviço não conhece, e a pessoa segue digitando à mão.
      security:
        - publishableKey: []
      parameters:
        - name: zip
          in: path
          required: true
          schema:
            type: string
            example: '01310100'
      responses:
        '200':
          description: O endereço, ou `null`.
          content:
            application/json:
              schema:
                type: object
                required: [address]
                properties:
                  address:
                    type: [object, 'null']
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/embed/installments:
    get:
      tags: [Embed]
      summary: Grade de parcelas
      operationId: embedInstallments
      description: |
        A tabela de parcelamento para um valor, pedida **do navegador** do
        comprador com a chave publicável.

        A grade vem inteira, bandeira por bandeira. A chave `default` é o
        pior caso e é o que se mostra antes de o comprador digitar qualquer
        dígito; quando os seis primeiros números revelam a bandeira, troca-se
        a lista sem uma segunda ida ao servidor.

        O cálculo é **nosso**, e é o mesmo do checkout. Reimplementá-lo em
        JavaScript para poupar esta chamada criaria duas contas capazes de
        divergir - e divergir aqui é mostrar um preço e cobrar outro.

        `available: false` tem duas causas, e a resposta não distingue:
        o cartão pode estar indisponível para a loja, ou o valor pode estar
        abaixo do piso em que o parcelamento fecha. Quem lê esta resposta é
        o navegador de um comprador; detalhar qual das nossas chaves está
        desligada transformaria o endpoint num painel de status. A `message`
        é o que se pode mostrar na tela.
      security:
        - publishableKey: []
      parameters:
        - name: amount
          in: query
          required: true
          description: |
            O valor a parcelar, em **centavos inteiros**. Um decimal é
            recusado com `422`.
          schema:
            type: integer
            minimum: 1
          example: 10000
        - name: max_installments
          in: query
          description: |
            O teto que você quer impor. O limite real é o **menor** entre
            ele, a escada por valor e a taxa da conta - um número grande
            aqui não amplia nada.
          schema:
            type: integer
            minimum: 1
            maximum: 12
      responses:
        '200':
          description: A grade, ou o motivo de não haver uma.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbedInstallments'
              examples:
                disponivel:
                  summary: Cartão disponível
                  value:
                    object: installments
                    amount: 10000
                    available: true
                    message: null
                    matrix:
                      default:
                        - installments: 1
                          total_cents: 10000
                          installment_cents: 10000
                          interest_cents: 0
                          label: 1x de R$ 100,00 sem juros
                indisponivel:
                  summary: Cartão fora do ar para esta loja
                  value:
                    object: installments
                    amount: 10000
                    available: false
                    message: O pagamento no cartão está indisponível no momento.
                    matrix: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

# Eventos que NÓS enviamos para o seu sistema.
#
# Você pode cadastrar vários endpoints em Desenvolvedores - produção e
# homologação são sistemas diferentes, e cada um recebe só os eventos que
# assinou, com o seu próprio segredo de assinatura.
#
# Cada fato vira no máximo UMA entrega por endpoint: uma reentrega do
# provedor para nós não vira uma segunda entrega para você. Uma entrega
# que desistiu depois das retentativas pode ser reenviada à mão pelo
# painel - e aí o `id` do evento é o MESMO, para a sua idempotência
# reconhecê-lo.
webhooks:
  charge.paid:
    post:
      summary: Cobrança paga
      operationId: webhookChargePaid
      description: |
        Enviado quando o pagamento é confirmado, no PIX ou no cartão. É o
        evento sobre o qual o seu sistema deve agir - liberar acesso,
        faturar, dar baixa no pedido.

        **Confira a assinatura antes de agir.** Quem tem o segredo consegue
        forjar este evento, e um sistema que libera produto ao recebê-lo
        entregaria de graça.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargePaidEvent'
            examples:
              paga:
                value:
                  id: evt_01k1y6r7z2m4n6p8q0r2s4t6u8
                  type: charge.paid
                  created_at: '2026-08-04T14:03:12+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: paid
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 0
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                        campanha: black-friday
                      customer:
                        name: João Comprador
                        email: joao@exemplo.com.br
                        document: '111.***.***-35'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: null
      responses:
        '200':
          description: |
            Recebido. Qualquer 2xx encerra a entrega. Responda rápido e
            processe depois: demorar vira retentativa, e retentativa em
            fluxo de dinheiro é como um pagamento acaba contabilizado duas
            vezes.
        default:
          description: |
            Qualquer resposta fora da faixa 2xx agenda nova tentativa.

  charge.failed:
    post:
      summary: Cobrança recusada
      operationId: webhookChargeFailed
      description: |
        Enviado quando a operadora do cartão recusa o pagamento, ou quando a
        análise de fraude o reprova. A cobrança está encerrada: não há
        retentativa automática, e `failure_reason` traz o que a operadora
        respondeu.

        O texto vem da adquirente e serve para o SEU log, não para a tela do
        comprador - "cartão sem limite" dito ao portador de um cartão
        clonado é informação que ajuda quem clonou.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargePaidEvent'
            examples:
              recusada:
                value:
                  id: evt_01k1y6r7z2m4n6p8q0r2s4t6ua
                  type: charge.failed
                  created_at: '2026-08-04T14:03:12+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: failed
                      payment_method: credit_card
                      amount: 12775
                      currency: BRL
                      description: Curso de Vue 3
                      created_at: '2026-08-04T14:00:00+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  charge.in_analysis:
    post:
      summary: Cobrança em análise
      operationId: webhookChargeInAnalysis
      description: |
        Enviado quando a análise de fraude segura um pagamento no cartão
        para revisão manual.

        **Não libere a entrega ainda.** A revisão leva horas e pode terminar
        em recusa; o desfecho chega como `charge.paid` ou `charge.failed`.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargePaidEvent'
            examples:
              em_analise:
                value:
                  id: evt_01k1y6r7z2m4n6p8q0r2s4t6ub
                  type: charge.in_analysis
                  created_at: '2026-08-04T14:03:12+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: in_analysis
                      payment_method: credit_card
                      amount: 12775
                      currency: BRL
                      description: Curso de Vue 3
                      created_at: '2026-08-04T14:00:00+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  charge.refunded:
    post:
      summary: Cobrança estornada
      operationId: webhookChargeRefunded
      description: |
        Enviado quando um estorno é concluído - tanto o que você pediu pela
        API quanto o feito por nós ou pelo provedor fora do seu fluxo.

        O evento traz a cobrança **e** o estorno. Os dois porque as duas
        perguntas aparecem juntas do outro lado: quanto voltou (o estorno) e
        se sobrou algo (a cobrança, com `status` e `refunded_amount` já
        atualizados). Uma venda devolvida pela metade fica
        `partially_refunded`, não `refunded`.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeRefundedEvent'
            examples:
              parcial:
                summary: Estorno parcial de R$ 40,00
                value:
                  id: evt_01k1y7c4a1b2c3d4e5f6g7h8i9
                  type: charge.refunded
                  created_at: '2026-08-05T10:12:03+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: partially_refunded
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 4000
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                        campanha: black-friday
                      customer:
                        name: João Comprador
                        email: joao@exemplo.com.br
                        document: '111.***.***-35'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: '2026-08-05T10:12:02+00:00'
                    refund:
                      object: refund
                      id: rf_01k1y7c3n8b5w2q9r4t6y8u1i3
                      status: succeeded
                      amount: 4000
                      currency: BRL
                      fee_returned: 280
                      seller_debit: 3720
                      reason: Devolução de um item
                      created_at: '2026-08-05T10:12:00+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  charge.chargedback:
    post:
      summary: Cobrança contestada
      operationId: webhookChargeChargedback
      description: |
        Enviado quando o portador contesta a compra na operadora do cartão e
        o valor é levado de volta pela bandeira.

        É definitivo: a cobrança fica `chargedback` e não admite mais
        cancelamento nem estorno. O valor já foi debitado do saldo do
        vendedor - o objeto `refund` descreve o débito, do mesmo jeito que
        num estorno.

        Se você já entregou, é aqui que revoga.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeRefundedEvent'
            examples:
              contestada:
                value:
                  id: evt_01k1y6r7z2m4n6p8q0r2s4t6uc
                  type: charge.chargedback
                  created_at: '2026-08-20T09:41:00+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: chargedback
                      payment_method: credit_card
                      amount: 12775
                      currency: BRL
                      refunded_amount: 12775
                      created_at: '2026-08-04T14:00:00+00:00'
                    refund:
                      object: refund
                      id: rf_01k1y7c4a1b2c3d4e5f6g7h8i9
                      status: succeeded
                      amount: 12775
                      currency: BRL
                      reason: chargeback
                      created_at: '2026-08-20T09:41:00+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  withdrawal.paid:
    post:
      summary: Saque pago
      operationId: webhookWithdrawalPaid
      description: |
        Enviado quando o dinheiro chega à conta bancária do vendedor.

        Os estados intermediários (`processing`, `pending`) **não** são
        entregues: não pedem ação do seu lado, e cada entrega tem custo de
        retentativa.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalPaidEvent'
            examples:
              pago:
                value:
                  id: evt_01k1y8d5j2k3l4m5n6o7p8q9r0
                  type: withdrawal.paid
                  created_at: '2026-08-06T09:00:05+00:00'
                  data:
                    withdrawal:
                      object: withdrawal
                      id: wd_01k1y8d4h1g2f3e4d5c6b7a8z9
                      status: paid
                      currency: BRL
                      amount: 50000
                      fee: 367
                      net_amount: 49633
                      requested_at: '2026-08-06T08:59:00+00:00'
                      processed_at: '2026-08-06T09:00:04+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  med.opened:
    post:
      summary: Contestação de Pix aberta
      operationId: webhookMedOpened
      description: |
        O comprador abriu uma contestação de Pix (MED) contra uma venda
        sua. **O valor já saiu do seu saldo disponível** e ficou retido até
        a decisão - você o vê em "Em contestação", e ele não é sacável.

        Aja como em `charge.in_analysis`: **segure a entrega**. Uma
        contestação pode terminar com o dinheiro devolvido ao comprador, e
        aí o produto já entregue não volta.

        Você tem `defence_deadline` para mandar a sua versão pelo painel.
        O prazo não trava a decisão - ele diz de quem é a vez.

        `opened_by` muda o que você está respondendo: `customer` é o
        formulário público preenchido pela pessoa; `support` é a Vext
        registrando o que ouviu por outro canal. As duas valem igual e
        retêm igual, mas sustentam alegações diferentes.

        Sobre quem contestou vai só o nome. O e-mail e o telefone ficam de
        fora de propósito: a alegação é de fraude, você é a parte acusada,
        e o contato de quem acusa seria um canal de pressão fora do
        processo. Os dados de quem PAGOU continuam em `data.charge.customer`.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedEvent'
            examples:
              aberta:
                value:
                  id: evt_01k2m4n6p8q0r2s4t6u8w0x2y4
                  type: med.opened
                  created_at: '2026-09-16T13:22:41+00:00'
                  data:
                    med:
                      object: med
                      id: med_01k2m4n5r3t7v9x1z3b5d7f9h1
                      status: open
                      reason: Não reconheço esta compra no meu extrato.
                      held_amount: 10000
                      currency: BRL
                      end_to_end_id: E12345678202608041200
                      purchase_date: '2026-08-04'
                      opened_by: customer
                      claimant:
                        name: Maria Souza
                      evidence:
                        - id: 41
                          side: claimant
                          filename: extrato-do-banco.pdf
                          mime: application/pdf
                          size: 184320
                          sent_at: '2026-09-16T13:22:40+00:00'
                      events:
                        - type: opened
                          at: '2026-09-16T13:22:40+00:00'
                          held_cents: 10000
                          charge_code: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                          evidence_count: 1
                      opened_at: '2026-09-16T13:22:40+00:00'
                      defence_deadline: '2026-09-23T13:22:40+00:00'
                      responded_at: null
                      decided_at: null
                      decision_note: null
                      resolved_by: null
                      refund: null
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: paid
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 0
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                      customer:
                        name: Maria Souza
                        email: maria@exemplo.com.br
                        document: '222.***.***-47'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: null
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  med.approved:
    post:
      summary: Contestação de Pix perdida
      operationId: webhookMedApproved
      description: |
        A contestação foi **deferida**: o comprador foi estornado com o seu
        dinheiro, e a retenção virou débito definitivo.

        **Leia o nome com atenção.** `approved` descreve a decisão sobre a
        CONTESTAÇÃO, não sobre você - é a má notícia. O nome espelha o
        status interno (`status: approved`) para que evento, painel e API
        falem uma língua só; quem quiser o placar tem `status` e
        `resolved_by`, e o painel mostra "Perdida".

        Aja revertendo o que `med.opened` mandou segurar: **cancele o
        acesso, o envio ou a assinatura**. A venda está devolvida.

        `resolved_by` diz de onde veio o desfecho: `platform` é a Vext
        decidindo, `seller` é você tendo assumido a contestação pelo
        painel. `data.charge` vem com `status` e `refunded_amount` já
        atualizados.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedEvent'
            examples:
              perdida:
                value:
                  id: evt_01k2p7q9s1u3w5y7a9c1e3g5j7
                  type: med.approved
                  created_at: '2026-09-19T10:41:08+00:00'
                  data:
                    med:
                      object: med
                      id: med_01k2m4n5r3t7v9x1z3b5d7f9h1
                      status: approved
                      reason: Não reconheço esta compra no meu extrato.
                      held_amount: 10000
                      currency: BRL
                      end_to_end_id: E12345678202608041200
                      purchase_date: '2026-08-04'
                      opened_by: customer
                      claimant:
                        name: Maria Souza
                      evidence:
                        - id: 41
                          side: claimant
                          filename: extrato-do-banco.pdf
                          mime: application/pdf
                          size: 184320
                          sent_at: '2026-09-16T13:22:40+00:00'
                        - id: 42
                          side: seller
                          filename: comprovante-de-entrega.png
                          mime: image/png
                          size: 96144
                          sent_at: '2026-09-17T09:10:02+00:00'
                      events:
                        - type: opened
                          at: '2026-09-16T13:22:40+00:00'
                          held_cents: 10000
                          charge_code: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                          evidence_count: 1
                        - type: seller_defence
                          at: '2026-09-17T09:10:02+00:00'
                          files: 1
                        - type: approved
                          at: '2026-09-19T10:41:07+00:00'
                          released_cents: 10000
                      opened_at: '2026-09-16T13:22:40+00:00'
                      defence_deadline: '2026-09-23T13:22:40+00:00'
                      responded_at: '2026-09-17T09:10:02+00:00'
                      decided_at: '2026-09-19T10:41:07+00:00'
                      decision_note: Evidências não comprovam a entrega ao titular do Pix.
                      resolved_by: platform
                      refund:
                        object: refund
                        id: re_01k2p7q8r0t2v4x6z8b0d2f4h6
                        status: refunded
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: refunded
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 10000
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                      customer:
                        name: Maria Souza
                        email: maria@exemplo.com.br
                        document: '222.***.***-47'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: '2026-09-19T10:41:07+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  med.rejected:
    post:
      summary: Contestação de Pix ganha
      operationId: webhookMedRejected
      description: |
        A contestação foi **indeferida**: o valor retido voltou ao seu
        saldo disponível e a venda segue de pé.

        Como em `med.approved`, o nome descreve a decisão sobre a
        CONTESTAÇÃO - aqui é a boa notícia. O painel mostra "Ganha".

        Aja liberando o que `med.opened` mandou segurar: **a entrega pode
        seguir**. `data.charge` continua `paid`, e `refund` vem `null`
        porque não houve estorno.

        Não existe reabertura: a trava é de banco, uma contestação por
        venda, para sempre. Este desfecho é final.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedEvent'
            examples:
              ganha:
                value:
                  id: evt_01k2p9r1t3v5x7z9b1d3f5h7k9
                  type: med.rejected
                  created_at: '2026-09-19T11:02:55+00:00'
                  data:
                    med:
                      object: med
                      id: med_01k2m4n5r3t7v9x1z3b5d7f9h1
                      status: rejected
                      reason: Não reconheço esta compra no meu extrato.
                      held_amount: 10000
                      currency: BRL
                      end_to_end_id: E12345678202608041200
                      purchase_date: '2026-08-04'
                      opened_by: customer
                      claimant:
                        name: Maria Souza
                      evidence:
                        - id: 42
                          side: seller
                          filename: comprovante-de-entrega.png
                          mime: image/png
                          size: 96144
                          sent_at: '2026-09-17T09:10:02+00:00'
                      events:
                        - type: opened
                          at: '2026-09-16T13:22:40+00:00'
                          held_cents: 10000
                          charge_code: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                          evidence_count: 0
                        - type: seller_defence
                          at: '2026-09-17T09:10:02+00:00'
                          files: 1
                        - type: rejected
                          at: '2026-09-19T11:02:54+00:00'
                          released_cents: 10000
                      opened_at: '2026-09-16T13:22:40+00:00'
                      defence_deadline: '2026-09-23T13:22:40+00:00'
                      responded_at: '2026-09-17T09:10:02+00:00'
                      decided_at: '2026-09-19T11:02:54+00:00'
                      decision_note: Entrega comprovada ao titular do Pix.
                      resolved_by: platform
                      refund: null
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: paid
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 0
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                      customer:
                        name: Maria Souza
                        email: maria@exemplo.com.br
                        document: '222.***.***-47'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: null
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: sk_live_… | sk_test_…
      description: |
        Chave secreta do vendedor, criada no painel em **Desenvolvedores**.

        O valor em claro existe uma única vez, na criação. Guardamos só o
        hash SHA-256 - nem o suporte consegue recuperá-lo, o que é o ponto:
        um dump do nosso banco não permite cobrar em nome de ninguém.

        A chave vai no **servidor**. Colocá-la no navegador do comprador a
        entrega a qualquer pessoa que abra a página.

    publishableKey:
      type: apiKey
      in: header
      name: X-Vext-Publishable-Key
      description: |
        Chave **publicável** do vendedor, criada no painel em
        **Desenvolvedores → Embed**, no formato `pk_live_…` / `pk_test_…`.

        Ao contrário da secreta, esta é para o NAVEGADOR: ela fica no
        código-fonte da página e qualquer pessoa a lê. Isso é esperado, e
        não um descuido - guardamos o valor em claro justamente para você
        poder copiá-lo de novo a cada site.

        O que a protege é a lista de **domínios autorizados** da própria
        chave. Uma requisição vinda de origem que não está na lista é
        recusada com `403 origin_not_allowed`, e a chave recém-criada, sem
        nenhum domínio declarado, recusa tudo.

        Ela **não carrega escopo**. Uma `pk_` não lista cobrança, não
        estorna e não consulta saldo: o que ela alcança são os endpoints
        sob `/v1/embed`, e essa lista é fechada. Por isso os endpoints
        deste grupo declaram `publishableKey: []` - a lista vazia é
        literal, e não uma omissão.

        Na navegação que carrega o iframe não há como enviar cabeçalho; ali
        a chave vai em `?pk=`. Quando os dois vêm, o cabeçalho vence.

  parameters:
    ChargeCode:
      name: code
      in: path
      required: true
      description: Código público da cobrança, no formato `ch_…`.
      schema:
        type: string
        pattern: '^ch_[0-9a-z]{26}$'
      example: ch_01k1y6r6m6q2x0p3d9v4t7c8n2

    SavedCardCode:
      name: code
      in: path
      required: true
      description: Código público do cartão guardado, no formato `pm_…`.
      schema:
        type: string
        pattern: '^pm_[0-9a-z]{26}$'
      example: pm_01k1y6r6m6q2x0p3d9v4t7c8n2

    CheckoutSessionCode:
[...]
