openapi: 3.1.0

info:
  title: Vext - API de pagamentos PIX com split
  version: '1.0.0'
  summary: Cobranças PIX, estornos e saldo do vendedor.
  description: |
    API pública do gateway. Todo endpoint desta versão vive sob `/v1`.

    ## Dinheiro é sempre CENTAVOS INTEIROS

    Não há exceção. `amount`, `platform_fee`, `net_amount`, `refunded_amount`,
    `fee_returned`, `seller_debit`, `balance`, `available`, `reserved`, `debt`
    e `withdrawable` são inteiros em centavos de real.

    | Valor       | Envie / receba |
    |-------------|----------------|
    | R$ 1,00     | `100`          |
    | R$ 10,50    | `1050`         |
    | R$ 1.234,56 | `123456`       |

    Enviar `10.50` devolve `422`. A recusa é deliberada: `10.50` chega ao
    servidor como ponto flutuante, `10.50 * 100` não é exatamente `1050` em
    binário, e o centavo perdido só aparece na conciliação do mês. Diante de
    um decimal preferimos recusar a adivinhar a intenção - com dinheiro,
    adivinhar sai caro.

    ## Autenticação

    Toda chamada leva a chave no header:

    ```
    Authorization: Bearer sk_live_SUA_CHAVE_SECRETA
    ```

    A chave é criada em **Desenvolvedores** no painel e o valor em claro
    aparece **uma única vez**, na criação - guardamos apenas um hash
    SHA-256. Perdeu, gere outra.

    Cada chave carrega escopos (`charges:read`, `charges:write`,
    `refunds:write`, `balance:read`, `cards:manage`). Chamar um endpoint
    fora do escopo devolve `403`, e não `401`: a chave está certa, faltou
    permissão.

    Chaves de teste usam o prefixo `sk_test_`. A diferença é visível a olho
    nu de propósito - uma chave de teste colada em produção precisa ser
    reconhecível antes de alguém passar a tarde investigando.

    ## Idempotência

    Envie `Idempotency-Key` em todo `POST`. A conexão que cai depois da
    requisição e antes da resposta deixa você sem saber se cobrou; repetir
    com a mesma chave resolve isso sem risco de cobrar duas vezes.

    - **mesma chave, mesmo corpo** → a resposta gravada, com
      `Idempotent-Replayed: true`. A cobrança não é recriada.
    - **mesma chave, corpo diferente** → `409 idempotency_key_reused`.
      Devolver a cobrança antiga faria você acreditar que cobrou o valor
      novo.
    - **mesma chave, primeira ainda em voo** → `409
      idempotency_key_in_progress`. Repita em instantes.

    A ordem dos campos no JSON não invalida o retry. A chave vale por 24
    horas e é sua: dois clientes diferentes podem usar `pedido-1` sem
    colidir.

    ## Erros

    Todo erro - inclusive os que não previmos - tem a mesma forma:

    ```json
    {
      "error": {
        "type": "invalid_request_error",
        "code": "amount_below_minimum",
        "message": "…",
        "details": {}
      }
    }
    ```

    Trate pelo `code`, nunca pela `message`: o código é contrato, o texto
    pode ser reescrito a qualquer momento.

  contact:
    name: Suporte Vext
    url: https://wa.me/5511936185272

servers:
  - url: https://api.usevext.com
    description: Produção

security:
  - apiKey: []

tags:
  - name: Cobranças
    description: Criação, consulta e estorno de cobranças, no PIX e no cartão.
  - name: Saldo
    description: Quanto o vendedor tem e quanto pode sacar.
  - name: Cartão no navegador
    description: |
      O que o navegador do comprador precisa para virar um formulário de
      cartão: a credencial de tokenização e o token do desafio de
      autenticação. O número do cartão nunca passa por esta API.
  - name: Cartões
    description: |
      Os cartões que os compradores deixaram guardados, para cobrar de novo
      sem pedir nada a eles.

paths:
  /v1/charges:
    post:
      tags: [Cobranças]
      summary: Criar cobrança
      operationId: createCharge
      description: |
        Cria uma cobrança com split entre o vendedor e a plataforma, no PIX
        ou no cartão.

        **No PIX** - o padrão, e o que continua valendo para um corpo sem
        `payment_method` - a resposta traz o payload copia-e-cola
        (`pix.qr_code`) já pronto para exibir. A imagem do QR **não** é
        devolvida: ela é derivada do payload na hora de exibir, e mandar um
        PNG em base64 em toda resposta multiplicaria o corpo por algo que
        você gera localmente.

        **No cartão**, mande `payment_method: "credit_card"` e o objeto
        `card`. O `token` que ele leva é criado no navegador pelo
        `GET /v1/vext.js`; o `id` vem de um cartão guardado. E atenção à
        diferença que mais gera
        chamado: uma recusa de cartão **cria** a cobrança, com status
        `failed`, e volta `402` com o `ch_` em `error.details.charge_id`. Um
        `422` é que significa "nada foi criado".
      security:
        - apiKey: [charges:write]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChargeRequest'
            examples:
              simples:
                summary: Cobrança de R$ 100,00
                value:
                  amount: 10000
                  description: Curso de Vue 3
                  reference: pedido-1042
                  metadata:
                    carrinho: cart_88f21
                    campanha: black-friday
                  customer_ip: 189.45.12.7
                  customer:
                    name: João Comprador
                    email: joao@exemplo.com.br
                    document: '11144477735'
                    document_type: CPF
                    phone_ddd: '11'
                    phone_number: '987654321'
              cartao:
                summary: Cartão, o corpo mínimo
                description: |
                  Não falta nada aqui. Sem `items` - `description` serve no
                  lugar dele no cartão -, sem endereço e sem nenhum campo de
                  3DS, que é opcional nesta API.

                  O `token` vem do navegador, criado por
                  `Vext(pk).createToken(...)` - ver `GET /v1/vext.js`. Ele
                  vale cerca de um minuto.
                value:
                  amount: 10000
                  payment_method: credit_card
                  description: Curso de Vue 3
                  reference: pedido-1042
                  customer_ip: 189.45.12.7
                  card:
                    token: token_ORP978GFOUoQD58x
                    installments: 1
                    holder_name: ANA P SOUZA
                  customer:
                    name: Ana P Souza
                    email: ana@exemplo.com.br
                    document: '11144477735'
                    phone_ddd: '11'
                    phone_number: '987654321'
              cartaoCompleto:
                summary: Cartão, com tudo que melhora a aprovação
                description: |
                  Os três opcionais que valem a pena: endereço de cobrança -
                  aqui em CEP e número, que completamos -, `customer_ip` do
                  comprador, e a bandeira lida do BIN para precificar o
                  parcelamento.
                value:
                  amount: 10000
                  payment_method: credit_card
                  description: Curso de Vue 3
                  reference: pedido-1042
                  customer_ip: 189.45.12.7
                  save_card: true
                  card:
                    token: token_ORP978GFOUoQD58x
                    installments: 3
                    holder_name: ANA P SOUZA
                    brand: visa
                    billing_address:
                      zip_code: '01310100'
                      number: '1000'
                  customer:
                    name: Ana P Souza
                    email: ana@exemplo.com.br
                    document: '11144477735'
                    phone_ddd: '11'
                    phone_number: '987654321'
              comItens:
                summary: Com itens discriminados
                description: |
                  A soma de `quantity * amount` de todos os itens precisa
                  bater exatamente com `amount`. Sem essa conferência o
                  comprador veria um total diferente da soma do que está
                  levando.
                value:
                  amount: 10000
                  expires_in: 1800
                  customer:
                    name: Maria Compradora
                    document: '11144477735'
                  items:
                    - code: curso-vue
                      description: Curso de Vue 3
                      quantity: 1
                      amount: 6000
                    - code: ebook
                      description: E-book de apoio
                      quantity: 2
                      amount: 2000
      responses:
        '201':
          description: Cobrança criada e aguardando pagamento.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
              examples:
                criada:
                  $ref: '#/components/examples/ChargePendente'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/CardDeclined'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/UnprocessableCharge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/ProviderUnavailable'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'

    get:
      tags: [Cobranças]
      summary: Listar cobranças
      operationId: listCharges
      description: |
        Lista as cobranças da conta, da mais recente para a mais antiga.
        Apenas as cobranças do vendedor dono da chave - não existe forma de
        alcançar a venda de outra conta por esta API.
      security:
        - apiKey: [charges:read]
      parameters:
        - name: status
          in: query
          description: Filtra por situação.
          schema:
            $ref: '#/components/schemas/ChargeStatus'
        - name: reference
          in: query
          description: |
            Sua referência, exatamente como enviada em `reference` na
            criação. É o caminho para reencontrar uma cobrança sem guardar
            o `id` que devolvemos.
          schema:
            type: string
            maxLength: 120
          example: pedido-1042
        - name: created_from
          in: query
          description: Criadas a partir desta data e hora (ISO 8601).
          schema:
            type: string
            format: date-time
          example: '2026-08-01T00:00:00-03:00'
        - name: created_to
          in: query
          description: Criadas até esta data e hora (ISO 8601).
          schema:
            type: string
            format: date-time
          example: '2026-08-31T23:59:59-03:00'
        - name: per_page
          in: query
          description: |
            Itens por página. O teto de 100 existe porque uma página gigante
            de um vendedor com histórico degrada a consulta para todos os
            outros.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Página de cobranças.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeList'
              examples:
                pagina:
                  summary: Primeira página
                  value:
                    object: list
                    data:
                      - object: charge
                        id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                        status: paid
                        payment_method: pix
                        amount: 10000
                        currency: BRL
                        platform_fee: 798
                        net_amount: 9103
                        refunded_amount: 0
                        description: Curso de Vue 3
                        reference: pedido-1042
                        metadata:
                          carrinho: cart_88f21
                          campanha: black-friday
                        customer:
                          name: João Comprador
                          email: joao@exemplo.com.br
                          document: '111.***.***-35'
                        pix:
                          qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                          expires_at: '2026-08-04T15:00:00+00:00'
                          end_to_end_id: E12345678202608041200
                        created_at: '2026-08-04T14:00:00+00:00'
                        paid_at: '2026-08-04T14:03:11+00:00'
                        expired_at: null
                        refunded_at: null
                    pagination:
                      page: 1
                      per_page: 25
                      total: 1
                      total_pages: 1
                      has_more: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/charges/{code}:
    get:
      tags: [Cobranças]
      summary: Consultar cobrança
      operationId: getCharge
      security:
        - apiKey: [charges:read]
      parameters:
        - $ref: '#/components/parameters/ChargeCode'
      responses:
        '200':
          description: A cobrança.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
              examples:
                paga:
                  $ref: '#/components/examples/ChargePaga'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/charges/{code}/refund:
    post:
      tags: [Cobranças]
      summary: Estornar cobrança
      operationId: refundCharge
      description: |
        Devolve o dinheiro ao comprador, no todo ou em parte.

        Sem `amount`, devolve **o que ainda cabe estornar** - e não o valor
        da venda. Numa cobrança já devolvida pela metade, mandar o valor
        cheio de volta tiraria o dinheiro duas vezes do vendedor.

        O estorno **não** é barrado por falta de saldo: o dinheiro é do
        comprador e precisa voltar. Se o vendedor já sacou, o saldo dele
        fica negativo e as vendas seguintes cobrem automaticamente.

        `amount`, `fee_returned` e `seller_debit` respondem coisas
        diferentes e por isso vêm separados - é o que evita a pergunta "por
        que saíram R$ 93,01 se eu estornei R$ 100,00?".
      security:
        - apiKey: [refunds:write]
      parameters:
        - $ref: '#/components/parameters/ChargeCode'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundChargeRequest'
            examples:
              integral:
                summary: Estorno do que resta
                value:
                  reason: Comprador desistiu
              parcial:
                summary: Estorno parcial de R$ 40,00
                value:
                  amount: 4000
                  reason: Devolução de um item
      responses:
        '201':
          description: Estorno registrado e enviado ao provedor.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              examples:
                estornado:
                  summary: Estorno integral de R$ 100,00
                  description: |
                    O comprador recebe `amount`. Do saldo do vendedor sai
                    `seller_debit`; `fee_returned` é a parte da nossa taxa
                    que devolvemos. Sempre
                    `amount = seller_debit + fee_returned`.
                  value:
                    object: refund
                    id: rf_01k1y7c3n8b5w2q9r4t6y8u1i3
                    charge: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                    status: succeeded
                    amount: 10000
                    currency: BRL
                    fee_returned: 699
                    seller_debit: 9301
                    reason: Comprador desistiu
                    failed_reason: null
                    created_at: '2026-08-05T10:12:00+00:00'
                    processed_at: '2026-08-05T10:12:02+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/UnprocessableRefund'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/ProviderUnavailable'

  /v1/balance:
    get:
      tags: [Saldo]
      summary: Consultar saldo
      operationId: getBalance
      description: |
        Quatro números, porque respondem perguntas diferentes:

        - `balance` - tudo que o vendedor ganhou e ainda não sacou.
        - `reserved` - a parte que a reserva rolante ainda segura.
        - `available` - o que já pode sair pelo nosso extrato.
        - `withdrawable` - o **menor** entre o nosso disponível e o do
          provedor. É este que vale para pedir saque: usar só o nosso
          permitiria pedir dinheiro que a adquirente ainda não liberou.

        `provider` e `withdrawable` vêm `null` quando a consulta ao provedor
        falha. `null` não é zero: zero diria que não há dinheiro, quando o
        que houve foi uma consulta que não respondeu. O resto do saldo, que
        é nosso, continua correto.
      security:
        - apiKey: [balance:read]
      responses:
        '200':
          description: Saldo da conta.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
              examples:
                normal:
                  summary: Provedor respondeu
                  value:
                    object: balance
                    currency: BRL
                    balance: 92020
                    available: 82818
                    reserved: 9202
                    debt: 0
                    withdrawable: 50000
                    provider:
                      available: 50000
                      waiting_funds: 7000
                indisponivel:
                  summary: Provedor não respondeu
                  value:
                    object: balance
                    currency: BRL
                    balance: 92020
                    available: 82818
                    reserved: 9202
                    debt: 0
                    withdrawable: null
                    provider: null
                emDivida:
                  summary: Vendedor no vermelho
                  description: |
                    Acontece quando um estorno chega depois do saque. Não é
                    erro: as próximas vendas cobrem a dívida
                    automaticamente, e apenas o saque fica bloqueado até lá.
                  value:
                    object: balance
                    currency: BRL
                    balance: -9301
                    available: 0
                    reserved: 0
                    debt: 9301
                    withdrawable: 0
                    provider:
                      available: 0
                      waiting_funds: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/cards:
    post:
      tags: [Cartões]
      summary: Guardar cartão sem cobrar
      operationId: createSavedCard
      description: |
        Guarda um cartão no cofre **sem cobrar nada**, e devolve o `pm_` que
        as cobranças seguintes vão usar em `card.id`.

        É a porta da assinatura com teste grátis, da cobrança adiada e do
        upsell combinado antes da primeira venda - os casos em que o cartão
        precisa estar guardado **antes** de existir cobrança. Quando há uma
        primeira venda, prefira `save_card: true` nela: é uma chamada a
        menos e o cartão entra no cofre com uma autorização real no
        histórico.

        O número do cartão **não** entra aqui. O que entra é o `token` de
        uso único que o `GET /v1/vext.js` criou no navegador - o mesmo token
        de uma cobrança. Ele vale cerca de um minuto e serve uma vez só.

        Ao guardar, pedimos ao provedor uma **verificação sem valor** (Zero
        Dollar Auth): ele consulta a bandeira e o emissor para saber se o
        cartão existe e pode transacionar, sem tocar no limite do
        comprador. Não é uma autorização - um cartão guardado por aqui
        passou por uma consulta, não por uma venda.

        Guardar credencial de pagamento sem o comprador ter pedido é
        problema regulatório antes de ser problema de produto. O
        consentimento é seu para colher.
      security:
        - apiKey: [cards:manage]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSavedCardRequest'
            examples:
              assinatura:
                summary: Cartão para cobrar depois
                value:
                  customer:
                    name: Ana P Souza
                    email: ana@exemplo.com.br
                    document: '11144477735'
                    phone_ddd: '11'
                    phone_number: '987654321'
                  card:
                    token: token_ORP978GFOUoQD58x
                    holder_name: ANA P SOUZA
                    billing_address:
                      zip_code: '01310100'
                      street: Avenida Paulista
                      number: '1000'
                      neighborhood: Bela Vista
                      city: São Paulo
                      state: SP
      responses:
        '201':
          description: |
            Cartão guardado. O mesmo plástico guardado de novo devolve o
            **mesmo** `pm_` - não cria um segundo.
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedCard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          description: |
            O corpo não passou, o cartão não passou na verificação, ou esta
            conta não vende no cartão (`card_not_available`). Nenhum cartão
            é guardado em nenhum desses casos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/ProviderUnavailable'

    get:
      tags: [Cartões]
      summary: Listar cartões guardados
      operationId: listSavedCards
      description: |
        Os cartões que os seus compradores deixaram guardados.

        Um cartão entra no cofre de duas formas: como **efeito de uma venda
        aprovada** com `save_card: true`, ou por `POST /v1/cards`, que o
        guarda sem cobrar. A primeira traz junto a prova de que o cartão
        passou numa autorização real; a segunda traz uma verificação sem
        valor, que é menos.

        O que você recebe é o `id` (`pm_…`), a bandeira, os quatro últimos
        dígitos e a validade. As referências que de fato cobram ficam do
        nosso lado, e o `pm_` existe justamente para que você não precise
        delas.

        Os vencidos não aparecem por padrão. Peça `include_expired=1` para
        entender por que o pagamento de um clique parou de funcionar para
        um comprador.
      security:
        - apiKey: [cards:manage]
      parameters:
        - name: customer_document
          in: query
          description: |
            CPF ou CNPJ do comprador, com ou sem pontuação. É o que você
            tem em mãos na hora de oferecer um upsell - e poupa você de
            guardar mais um identificador nosso.
          schema:
            type: string
        - name: include_expired
          in: query
          schema:
            type: boolean
            default: false
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Página de cartões.
          content:
            application/json:
              schema:
                type: object
                required: [object, data, pagination]
                properties:
                  object:
                    type: string
                    const: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SavedCard'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/cards/{code}:
    get:
      tags: [Cartões]
      summary: Consultar cartão guardado
      operationId: getSavedCard
      security:
        - apiKey: [cards:manage]
      parameters:
        - $ref: '#/components/parameters/SavedCardCode'
      responses:
        '200':
          description: O cartão.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedCard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

    delete:
      tags: [Cartões]
      summary: Remover cartão guardado
      operationId: deleteSavedCard
      description: |
        Revoga o cartão. **A linha fica**: um cartão apagado não responde
        "com que cartão foi aquela cobrança de março?", que é exatamente a
        pergunta de quem remove uma credencial suspeita.

        A partir daqui, cobrar com este `pm_` devolve `422 card_revoked`.
      security:
        - apiKey: [cards:manage]
      parameters:
        - $ref: '#/components/parameters/SavedCardCode'
      responses:
        '200':
          description: O cartão, agora revogado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedCard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/vext.js:
    get:
      tags: [Cartão no navegador]
      summary: A biblioteca vext.js
      operationId: getVextScript
      description: |
        A biblioteca que troca os dados do cartão por um token, no navegador.
        Cole a tag e pronto - **não** é para ser consumida por `fetch`.

        ```html
        <script src="https://api.usevext.com/v1/vext.js"></script>
        <script>
          const vext = Vext('pk_live_...');
          const { token } = await vext.createToken({
            number, holder_name, exp_month, exp_year, cvv
          });
        </script>
        ```

        Ela existe para que você não precise saber o nome do nosso provedor
        nem escrever o endereço dele no seu código. **O número do cartão não
        passa pelos nossos servidores**: vai do navegador direto à
        adquirente, e é isso que mantém a sua aplicação e a nossa fora do
        escopo de PCI.

        O nome do arquivo é fixo e não tem hash - é o único endereço nosso que
        você escreve à mão no seu HTML, e um nome que mudasse a cada deploy
        quebraria o seu checkout. O cache é curto (cinco minutos) de
        propósito: é o que nos permite corrigir um defeito sem pedir a
        ninguém que limpe o cache do navegador.

        Público, sem credencial: a chave entra em cena quando você chama
        `createToken()`.
      security: []
      responses:
        '200':
          description: O arquivo JavaScript.
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=300
          content:
            application/javascript:
              schema:
                type: string
        '404':
          description: |
            A biblioteca não está publicada nesta instalação. É problema do
            nosso lado, não da sua chave.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/client_config:
    get:
      tags: [Cartão no navegador]
      summary: Configuração para o navegador
      operationId: getClientConfig
      description: |
        O que o `vext.js` pergunta antes de tokenizar. **Você normalmente não
        chama esta rota** - a biblioteca o faz por você, uma vez por página.

        Está documentada porque é o que a sua `pk_` alcança, e porque saber o
        que uma chave pública consegue fazer não deveria exigir ler o nosso
        código: ela devolve o endereço de tokenização, a chave pública da
        adquirente desta loja, as bandeiras aceitas e os limites de
        parcelamento. Não cria cobrança, não lê venda, não move dinheiro.

        Ela **não diz por que** o cartão está indisponível - só que está.
        Aqui quem pergunta é o navegador de um comprador qualquer, e o motivo
        entregue a qualquer visitante transformaria o endpoint num painel de
        status nosso. O motivo está em `GET /v1/installments`, atrás da chave
        secreta.

        A grade de parcelas com preço também não vem: ela depende do valor, e
        mora em `GET /v1/installments`, atrás da chave secreta.
      security:
        - publishableKey: []
      responses:
        '200':
          description: |
            A configuração. Com `available: false`, nenhuma credencial vem
            preenchida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientConfig'
        '401':
          description: Chave publicável ausente, inválida ou revogada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: |
            O domínio de onde a chamada veio não está na allowlist desta
            chave. Cadastre-o no painel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/three_ds_tokens:
    post:
      tags: [Cartão no navegador]
      summary: Emitir token de autenticação
      operationId: createThreeDsToken
      description: |
        O token que autoriza o navegador a rodar o desafio de autenticação do
        portador contra o servidor da Stone. Sem corpo.

        **POST e não GET**: cada chamada gasta um token de uso único e de
        prazo curto, e um GET seria pré-buscado por navegador e por
        antivírus - todos morrendo antes de alguém tentar pagar.

        Peça-o no **envio** do formulário, nunca na abertura da página. Ele
        vive cinco minutos; emitido cedo, já estaria morto para quem levou
        algum tempo preenchendo o endereço.

        **Não é idempotente, e isso é deliberado.** Repetir aqui é o
        comportamento certo: cada tentativa de pagamento precisa de um token
        novo, e devolver o anterior entregaria um já queimado no desafio que
        falhou. Mandar `Idempotency-Key` não muda nada.

        O que o desafio devolve ao seu JavaScript - o identificador da
        autenticação e o status - segue em `card.three_ds` na criação da
        cobrança.
      security:
        - apiKey: [charges:write]
      responses:
        '200':
          description: O token, válido por cinco minutos e para um uso só.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDsToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |
            Esta conta não autentica o portador. Ao contrário do que a porta
            do navegador faria, aqui o motivo vem junto - quem lê é o seu
            servidor, e o motivo é acionável.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                indisponivel:
                  value:
                    error:
                      type: invalid_request_error
                      code: three_ds_unavailable
                      message: Esta conta não pode autenticar o portador no momento.
                      details:
                        reason: fee_disabled
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/PlatformUnavailable'

  /v1/installments:
    get:
      tags: [Cobranças]
      summary: Grade de parcelas
      operationId: listInstallments
      description: |
        A tabela de parcelamento para um valor, do lado do **seu servidor**.

        O cálculo é nosso e é o mesmo que roda no nosso checkout.
        Reimplementá-lo do seu lado para poupar esta chamada criaria duas
        contas capazes de divergir - e divergir aqui é anunciar um preço e
        nós cobrarmos outro.

        A grade vem inteira, bandeira por bandeira, porque a bandeira só é
        conhecida quando o comprador digita os seis primeiros dígitos. A
        chave `default` é o pior caso, e é o que se mostra antes disso.

        Esta **diz por que** o cartão está indisponível: quem apresenta a
        chave secreta é o seu servidor, e o motivo é acionável para você.

        Responde às **duas** perguntas do parcelamento. Com `amount`, "cobro
        isto - recebo quanto?"; com `net_amount`, "quero receber isto -
        cobro quanto?". A segunda existe para que você não precise refazer a
        nossa conta de taxa do seu lado: duas implementações da mesma conta
        divergem no dia em que a taxa mudar de forma.
      security:
        - apiKey: [charges:read]
      parameters:
        - name: amount
          in: query
          description: |
            O valor a parcelar, em **centavos inteiros** - o preço do seu
            produto. **Excludente com `net_amount`**, e um dos dois é
            obrigatório: aceitar os dois deixaria para nós a escolha de qual
            honrar quando eles não combinassem.
          schema:
            type: integer
            minimum: 1
          example: 10000
        - name: net_amount
          in: query
          description: |
            Quanto você quer **receber**, em centavos inteiros. A resposta
            devolve em `amount` o preço de vitrine que produz esse líquido
            depois da taxa.

            Não é a taxa somada ao valor: acrescentar 5,99% sobre R$ 100,00
            dá R$ 105,99, e o que sobra de R$ 105,99 depois de descontada a
            taxa é R$ 97,65 - não cem. A conta certa é
            `teto((líquido + fixo) / (1 − percentual))`, e o arredondamento
            é sempre em desfavor da plataforma: você nunca recebe menos que
            pediu.

            **Excludente com `amount`.**
          schema:
            type: integer
            minimum: 1
          example: 10000
        - name: max_installments
          in: query
          description: |
            O teto que você quer impor. O limite real é o **menor** entre
            ele, a escada por valor e a taxa da sua conta - um número maior
            aqui não amplia nada.
          schema:
            type: integer
            minimum: 1
            maximum: 12
      responses:
        '200':
          description: A grade, ou o motivo de não haver uma.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Installments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

# Eventos que NÓS enviamos para o seu sistema.
#
# Você pode cadastrar vários endpoints em Desenvolvedores - produção e
# homologação são sistemas diferentes, e cada um recebe só os eventos que
# assinou, com o seu próprio segredo de assinatura.
#
# Cada fato vira no máximo UMA entrega por endpoint: uma reentrega do
# provedor para nós não vira uma segunda entrega para você. Uma entrega
# que desistiu depois das retentativas pode ser reenviada à mão pelo
# painel - e aí o `id` do evento é o MESMO, para a sua idempotência
# reconhecê-lo.
webhooks:
  charge.paid:
    post:
      summary: Cobrança paga
      operationId: webhookChargePaid
      description: |
        Enviado quando o pagamento é confirmado, no PIX ou no cartão. É o
        evento sobre o qual o seu sistema deve agir - liberar acesso,
        faturar, dar baixa no pedido.

        **Confira a assinatura antes de agir.** Quem tem o segredo consegue
        forjar este evento, e um sistema que libera produto ao recebê-lo
        entregaria de graça.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargePaidEvent'
            examples:
              paga:
                value:
                  id: evt_01k1y6r7z2m4n6p8q0r2s4t6u8
                  type: charge.paid
                  created_at: '2026-08-04T14:03:12+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: paid
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 0
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                        campanha: black-friday
                      customer:
                        name: João Comprador
                        email: joao@exemplo.com.br
                        document: '111.***.***-35'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: null
      responses:
        '200':
          description: |
            Recebido. Qualquer 2xx encerra a entrega. Responda rápido e
            processe depois: demorar vira retentativa, e retentativa em
            fluxo de dinheiro é como um pagamento acaba contabilizado duas
            vezes.
        default:
          description: |
            Qualquer resposta fora da faixa 2xx agenda nova tentativa.

  charge.failed:
    post:
      summary: Cobrança recusada
      operationId: webhookChargeFailed
      description: |
        Enviado quando a operadora do cartão recusa o pagamento, ou quando a
        análise de fraude o reprova. A cobrança está encerrada: não há
        retentativa automática, e `failure_reason` traz o que a operadora
        respondeu.

        O texto vem da adquirente e serve para o SEU log, não para a tela do
        comprador - "cartão sem limite" dito ao portador de um cartão
        clonado é informação que ajuda quem clonou.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargePaidEvent'
            examples:
              recusada:
                value:
                  id: evt_01k1y6r7z2m4n6p8q0r2s4t6ua
                  type: charge.failed
                  created_at: '2026-08-04T14:03:12+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: failed
                      payment_method: credit_card
                      amount: 12775
                      currency: BRL
                      description: Curso de Vue 3
                      created_at: '2026-08-04T14:00:00+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  charge.in_analysis:
    post:
      summary: Cobrança em análise
      operationId: webhookChargeInAnalysis
      description: |
        Enviado quando a análise de fraude segura um pagamento no cartão
        para revisão manual.

        **Não libere a entrega ainda.** A revisão leva horas e pode terminar
        em recusa; o desfecho chega como `charge.paid` ou `charge.failed`.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargePaidEvent'
            examples:
              em_analise:
                value:
                  id: evt_01k1y6r7z2m4n6p8q0r2s4t6ub
                  type: charge.in_analysis
                  created_at: '2026-08-04T14:03:12+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: in_analysis
                      payment_method: credit_card
                      amount: 12775
                      currency: BRL
                      description: Curso de Vue 3
                      created_at: '2026-08-04T14:00:00+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  charge.refunded:
    post:
      summary: Cobrança estornada
      operationId: webhookChargeRefunded
      description: |
        Enviado quando um estorno é concluído - tanto o que você pediu pela
        API quanto o feito por nós ou pelo provedor fora do seu fluxo.

        O evento traz a cobrança **e** o estorno. Os dois porque as duas
        perguntas aparecem juntas do outro lado: quanto voltou (o estorno) e
        se sobrou algo (a cobrança, com `status` e `refunded_amount` já
        atualizados). Uma venda devolvida pela metade fica
        `partially_refunded`, não `refunded`.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeRefundedEvent'
            examples:
              parcial:
                summary: Estorno parcial de R$ 40,00
                value:
                  id: evt_01k1y7c4a1b2c3d4e5f6g7h8i9
                  type: charge.refunded
                  created_at: '2026-08-05T10:12:03+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: partially_refunded
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 4000
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                        campanha: black-friday
                      customer:
                        name: João Comprador
                        email: joao@exemplo.com.br
                        document: '111.***.***-35'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: '2026-08-05T10:12:02+00:00'
                    refund:
                      object: refund
                      id: rf_01k1y7c3n8b5w2q9r4t6y8u1i3
                      status: succeeded
                      amount: 4000
                      currency: BRL
                      fee_returned: 280
                      seller_debit: 3720
                      reason: Devolução de um item
                      created_at: '2026-08-05T10:12:00+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  charge.chargedback:
    post:
      summary: Cobrança contestada
      operationId: webhookChargeChargedback
      description: |
        Enviado quando o portador contesta a compra na operadora do cartão e
        o valor é levado de volta pela bandeira.

        É definitivo: a cobrança fica `chargedback` e não admite mais
        cancelamento nem estorno. O valor já foi debitado do saldo do
        vendedor - o objeto `refund` descreve o débito, do mesmo jeito que
        num estorno.

        Se você já entregou, é aqui que revoga.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeRefundedEvent'
            examples:
              contestada:
                value:
                  id: evt_01k1y6r7z2m4n6p8q0r2s4t6uc
                  type: charge.chargedback
                  created_at: '2026-08-20T09:41:00+00:00'
                  data:
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: chargedback
                      payment_method: credit_card
                      amount: 12775
                      currency: BRL
                      refunded_amount: 12775
                      created_at: '2026-08-04T14:00:00+00:00'
                    refund:
                      object: refund
                      id: rf_01k1y7c4a1b2c3d4e5f6g7h8i9
                      status: succeeded
                      amount: 12775
                      currency: BRL
                      reason: chargeback
                      created_at: '2026-08-20T09:41:00+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  withdrawal.paid:
    post:
      summary: Saque pago
      operationId: webhookWithdrawalPaid
      description: |
        Enviado quando o dinheiro chega à conta bancária do vendedor.

        Os estados intermediários (`processing`, `pending`) **não** são
        entregues: não pedem ação do seu lado, e cada entrega tem custo de
        retentativa.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalPaidEvent'
            examples:
              pago:
                value:
                  id: evt_01k1y8d5j2k3l4m5n6o7p8q9r0
                  type: withdrawal.paid
                  created_at: '2026-08-06T09:00:05+00:00'
                  data:
                    withdrawal:
                      object: withdrawal
                      id: wd_01k1y8d4h1g2f3e4d5c6b7a8z9
                      status: paid
                      currency: BRL
                      amount: 50000
                      fee: 367
                      net_amount: 49633
                      requested_at: '2026-08-06T08:59:00+00:00'
                      processed_at: '2026-08-06T09:00:04+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  med.opened:
    post:
      summary: Contestação de Pix aberta
      operationId: webhookMedOpened
      description: |
        O comprador abriu uma contestação de Pix (MED) contra uma venda
        sua. **O valor já saiu do seu saldo disponível** e ficou retido até
        a decisão - você o vê em "Em contestação", e ele não é sacável.

        Aja como em `charge.in_analysis`: **segure a entrega**. Uma
        contestação pode terminar com o dinheiro devolvido ao comprador, e
        aí o produto já entregue não volta.

        Você tem `defence_deadline` para mandar a sua versão pelo painel.
        O prazo não trava a decisão - ele diz de quem é a vez.

        `opened_by` muda o que você está respondendo: `customer` é o
        formulário público preenchido pela pessoa; `support` é a Vext
        registrando o que ouviu por outro canal. As duas valem igual e
        retêm igual, mas sustentam alegações diferentes.

        Sobre quem contestou vai só o nome. O e-mail e o telefone ficam de
        fora de propósito: a alegação é de fraude, você é a parte acusada,
        e o contato de quem acusa seria um canal de pressão fora do
        processo. Os dados de quem PAGOU continuam em `data.charge.customer`.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedEvent'
            examples:
              aberta:
                value:
                  id: evt_01k2m4n6p8q0r2s4t6u8w0x2y4
                  type: med.opened
                  created_at: '2026-09-16T13:22:41+00:00'
                  data:
                    med:
                      object: med
                      id: med_01k2m4n5r3t7v9x1z3b5d7f9h1
                      status: open
                      reason: Não reconheço esta compra no meu extrato.
                      held_amount: 10000
                      currency: BRL
                      end_to_end_id: E12345678202608041200
                      purchase_date: '2026-08-04'
                      opened_by: customer
                      claimant:
                        name: Maria Souza
                      evidence:
                        - id: 41
                          side: claimant
                          filename: extrato-do-banco.pdf
                          mime: application/pdf
                          size: 184320
                          sent_at: '2026-09-16T13:22:40+00:00'
                      events:
                        - type: opened
                          at: '2026-09-16T13:22:40+00:00'
                          held_cents: 10000
                          charge_code: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                          evidence_count: 1
                      opened_at: '2026-09-16T13:22:40+00:00'
                      defence_deadline: '2026-09-23T13:22:40+00:00'
                      responded_at: null
                      decided_at: null
                      decision_note: null
                      resolved_by: null
                      refund: null
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: paid
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 0
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                      customer:
                        name: Maria Souza
                        email: maria@exemplo.com.br
                        document: '222.***.***-47'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: null
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  med.approved:
    post:
      summary: Contestação de Pix perdida
      operationId: webhookMedApproved
      description: |
        A contestação foi **deferida**: o comprador foi estornado com o seu
        dinheiro, e a retenção virou débito definitivo.

        **Leia o nome com atenção.** `approved` descreve a decisão sobre a
        CONTESTAÇÃO, não sobre você - é a má notícia. O nome espelha o
        status interno (`status: approved`) para que evento, painel e API
        falem uma língua só; quem quiser o placar tem `status` e
        `resolved_by`, e o painel mostra "Perdida".

        Aja revertendo o que `med.opened` mandou segurar: **cancele o
        acesso, o envio ou a assinatura**. A venda está devolvida.

        `resolved_by` diz de onde veio o desfecho: `platform` é a Vext
        decidindo, `seller` é você tendo assumido a contestação pelo
        painel. `data.charge` vem com `status` e `refunded_amount` já
        atualizados.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedEvent'
            examples:
              perdida:
                value:
                  id: evt_01k2p7q9s1u3w5y7a9c1e3g5j7
                  type: med.approved
                  created_at: '2026-09-19T10:41:08+00:00'
                  data:
                    med:
                      object: med
                      id: med_01k2m4n5r3t7v9x1z3b5d7f9h1
                      status: approved
                      reason: Não reconheço esta compra no meu extrato.
                      held_amount: 10000
                      currency: BRL
                      end_to_end_id: E12345678202608041200
                      purchase_date: '2026-08-04'
                      opened_by: customer
                      claimant:
                        name: Maria Souza
                      evidence:
                        - id: 41
                          side: claimant
                          filename: extrato-do-banco.pdf
                          mime: application/pdf
                          size: 184320
                          sent_at: '2026-09-16T13:22:40+00:00'
                        - id: 42
                          side: seller
                          filename: comprovante-de-entrega.png
                          mime: image/png
                          size: 96144
                          sent_at: '2026-09-17T09:10:02+00:00'
                      events:
                        - type: opened
                          at: '2026-09-16T13:22:40+00:00'
                          held_cents: 10000
                          charge_code: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                          evidence_count: 1
                        - type: seller_defence
                          at: '2026-09-17T09:10:02+00:00'
                          files: 1
                        - type: approved
                          at: '2026-09-19T10:41:07+00:00'
                          released_cents: 10000
                      opened_at: '2026-09-16T13:22:40+00:00'
                      defence_deadline: '2026-09-23T13:22:40+00:00'
                      responded_at: '2026-09-17T09:10:02+00:00'
                      decided_at: '2026-09-19T10:41:07+00:00'
                      decision_note: Evidências não comprovam a entrega ao titular do Pix.
                      resolved_by: platform
                      refund:
                        object: refund
                        id: re_01k2p7q8r0t2v4x6z8b0d2f4h6
                        status: refunded
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: refunded
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 10000
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                      customer:
                        name: Maria Souza
                        email: maria@exemplo.com.br
                        document: '222.***.***-47'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: '2026-09-19T10:41:07+00:00'
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

  med.rejected:
    post:
      summary: Contestação de Pix ganha
      operationId: webhookMedRejected
      description: |
        A contestação foi **indeferida**: o valor retido voltou ao seu
        saldo disponível e a venda segue de pé.

        Como em `med.approved`, o nome descreve a decisão sobre a
        CONTESTAÇÃO - aqui é a boa notícia. O painel mostra "Ganha".

        Aja liberando o que `med.opened` mandou segurar: **a entrega pode
        seguir**. `data.charge` continua `paid`, e `refund` vem `null`
        porque não houve estorno.

        Não existe reabertura: a trava é de banco, uma contestação por
        venda, para sempre. Este desfecho é final.
      parameters:
        - $ref: '#/components/parameters/SignatureHeader'
        - $ref: '#/components/parameters/EventHeader'
        - $ref: '#/components/parameters/DeliveryHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedEvent'
            examples:
              ganha:
                value:
                  id: evt_01k2p9r1t3v5x7z9b1d3f5h7k9
                  type: med.rejected
                  created_at: '2026-09-19T11:02:55+00:00'
                  data:
                    med:
                      object: med
                      id: med_01k2m4n5r3t7v9x1z3b5d7f9h1
                      status: rejected
                      reason: Não reconheço esta compra no meu extrato.
                      held_amount: 10000
                      currency: BRL
                      end_to_end_id: E12345678202608041200
                      purchase_date: '2026-08-04'
                      opened_by: customer
                      claimant:
                        name: Maria Souza
                      evidence:
                        - id: 42
                          side: seller
                          filename: comprovante-de-entrega.png
                          mime: image/png
                          size: 96144
                          sent_at: '2026-09-17T09:10:02+00:00'
                      events:
                        - type: opened
                          at: '2026-09-16T13:22:40+00:00'
                          held_cents: 10000
                          charge_code: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                          evidence_count: 0
                        - type: seller_defence
                          at: '2026-09-17T09:10:02+00:00'
                          files: 1
                        - type: rejected
                          at: '2026-09-19T11:02:54+00:00'
                          released_cents: 10000
                      opened_at: '2026-09-16T13:22:40+00:00'
                      defence_deadline: '2026-09-23T13:22:40+00:00'
                      responded_at: '2026-09-17T09:10:02+00:00'
                      decided_at: '2026-09-19T11:02:54+00:00'
                      decision_note: Entrega comprovada ao titular do Pix.
                      resolved_by: platform
                      refund: null
                    charge:
                      object: charge
                      id: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
                      status: paid
                      payment_method: pix
                      amount: 10000
                      currency: BRL
                      platform_fee: 798
                      net_amount: 9103
                      refunded_amount: 0
                      description: Curso de Vue 3
                      reference: pedido-1042
                      metadata:
                        carrinho: cart_88f21
                      customer:
                        name: Maria Souza
                        email: maria@exemplo.com.br
                        document: '222.***.***-47'
                      pix:
                        qr_code: 00020101021226840014br.gov.bcb.pix2562qrcodepix.example.com/v2/abcd1234
                        expires_at: '2026-08-04T15:00:00+00:00'
                        end_to_end_id: E12345678202608041200
                      created_at: '2026-08-04T14:00:00+00:00'
                      paid_at: '2026-08-04T14:03:11+00:00'
                      expired_at: null
                      refunded_at: null
      responses:
        '200':
          description: Recebido.
        default:
          description: Fora da faixa 2xx, agenda nova tentativa.

components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: sk_live_… | sk_test_…
      description: |
        Chave secreta do vendedor, criada no painel em **Desenvolvedores**.

        O valor em claro existe uma única vez, na criação. Guardamos só o
        hash SHA-256 - nem o suporte consegue recuperá-lo, o que é o ponto:
        um dump do nosso banco não permite cobrar em nome de ninguém.

        A chave vai no **servidor**. Colocá-la no navegador do comprador a
        entrega a qualquer pessoa que abra a página.

    publishableKey:
      type: apiKey
      in: header
      name: X-Vext-Publishable-Key
      description: |
        Chave **publicável**, criada no painel em **Desenvolvedores →
        Navegador**. É a única credencial que pode ir para o navegador do
        comprador, e a única que o `vext.js` usa.

        Ela não carrega escopos: o que ela alcança é decidido pela rota, e
        hoje é uma só - `GET /v1/client_config`. Não cria cobrança, não lê
        venda, não move dinheiro.

        Sendo pública por natureza - ela fica no código-fonte de uma página
        que qualquer um abre -, a proteção dela não é o segredo: é a
        **allowlist de domínios**. Cadastre os domínios das suas páginas de
        pagamento, e uma chamada de qualquer outra origem é recusada. Sem
        isso, copiar a chave do seu HTML bastaria para tokenizar cartão em
        nome da sua loja de outro site.

        Na prática você quase nunca a manda à mão: `Vext('pk_live_...')`
        cuida disso.


  parameters:
    ChargeCode:
      name: code
      in: path
      required: true
      description: Código público da cobrança, no formato `ch_…`.
      schema:
        type: string
        pattern: '^ch_[0-9a-z]{26}$'
      example: ch_01k1y6r6m6q2x0p3d9v4t7c8n2

    SavedCardCode:
      name: code
      in: path
      required: true
      description: Código público do cartão guardado, no formato `pm_…`.
      schema:
        type: string
        pattern: '^pm_[0-9a-z]{26}$'
      example: pm_01k1y6r6m6q2x0p3d9v4t7c8n2



    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Identificador único da SUA tentativa. Use o mesmo valor ao repetir
        a requisição depois de um erro de rede.

        Opcional, mas recomendado em toda criação de cobrança e estorno.
        Sem ele, uma repetição cria uma segunda cobrança.
      schema:
        type: string
        maxLength: 255
      example: pedido-1042

    SignatureHeader:
      name: X-Vext-Signature
      in: header
      required: true
      description: |
        Assinatura da entrega, no formato `t=<timestamp>,v1=<hmac>`, onde
        `hmac` é `HMAC-SHA256("<timestamp>.<corpo bruto>", <segredo>)`.

        Duas regras ao conferir:

        1. Calcule sobre o **corpo bruto**, antes de desserializar.
           Reserializar muda espaçamento e ordem, e o HMAC deixa de bater.
        2. **Recuse timestamps com mais de 5 minutos.** É isso que impede
           alguém que interceptou uma entrega de `charge.paid` de reenviá-la
           quantas vezes quiser, com assinatura perfeitamente válida.
      schema:
        type: string
        pattern: '^t=[0-9]+,v1=[0-9a-f]{64}$'
      example: t=1785931392,v1=8f3c1d0a5b7e9042c6a1b3d5e7f9012345678901abcdef234567890abcdef1234

    EventHeader:
      name: X-Vext-Event
      in: header
      required: true
      description: |
        Tipo do evento, repetido fora do corpo. Redundante com o payload e
        útil mesmo assim: permite filtrar no seu log sem desserializar nada.
      schema:
        type: string
      example: charge.paid

    DeliveryHeader:
      name: X-Vext-Delivery
      in: header
      required: true
      description: |
        Identificador da entrega. Cite-o ao abrir um chamado - é por ele que
        localizamos a tentativa, a resposta do seu servidor e o horário.
      schema:
        type: string
      example: '4821'

  headers:
    IdempotentReplayed:
      description: |
        Presente com valor `true` quando o corpo devolvido é uma resposta
        **gravada**, e não um recurso novo. Nada foi criado nesta chamada.
      schema:
        type: string
        enum: ['true']

  schemas:
    Cents:
      type: integer
      format: int64
      description: |
        Valor monetário em **centavos inteiros** de real. R$ 10,00 = `1000`.
        Nunca decimal, nunca string.

    ChargeStatus:
      type: string
      description: |
        Situação da cobrança. Só os estados de trânsito - `pending`,
        `processing` e `in_analysis` - ainda mudam sozinhos; os demais são
        terminais, exceto os que ainda admitem estorno.

        `processing` e `in_analysis` são do cartão: a autorização é
        decidida na mesma requisição, mas pode parar na análise de fraude
        antes de virar `paid` ou `failed`. No PIX a cobrança vai direto de
        `pending` para o desfecho.

        `partially_refunded` é estado próprio, e não um `refunded` com
        asterisco: tratar uma venda devolvida pela metade como estornada
        faria seu relatório descontar o valor inteiro.

        `chargedback` é definitivo: o dinheiro voltou pelo caminho da
        bandeira, e nem cancelamento nem estorno são mais possíveis.
      enum:
        - pending
        - processing
        - in_analysis
        - paid
        - expired
        - canceled
        - partially_refunded
        - refunded
        - failed
        - chargedback
      x-labels:
        pending: Aguardando pagamento
        processing: Processando
        in_analysis: Em análise
        paid: Pago
        expired: Expirado
        canceled: Cancelado
        partially_refunded: Estornado em parte
        refunded: Estornado
        failed: Falhou
        chargedback: Chargeback

    RefundStatus:
      type: string
      enum: [pending, succeeded, failed]
      description: |
        `failed` significa que a devolução **não** aconteceu e o saldo do
        vendedor foi reposto. A linha permanece de propósito: uma tentativa
        de devolver dinheiro que não deu certo é exatamente o que alguém vai
        procurar depois.

    Customer:
      type: object
      required: [name, email, document, phone_ddd, phone_number]
      properties:
        name:
          type: string
          maxLength: 120
          example: João Comprador
        email:
          type: string
          format: email
          maxLength: 180
          description: |
            Obrigatório: sem e-mail o provedor aceita o pedido e devolve
            uma cobrança sem QR code.
          example: joao@exemplo.com.br
        document:
          type: string
          maxLength: 20
          description: |
            CPF ou CNPJ. Pontuação é aceita e descartada - guardamos apenas
            os dígitos. Obrigatório: sem documento o provedor aceita o
            pedido e devolve uma cobrança sem QR code.
          example: '111.444.777-35'
        document_type:
          type: [string, 'null']
          enum: [CPF, CNPJ, PASSPORT, null]
        phone_ddd:
          type: string
          maxLength: 3
          description: |
            DDD de quem vai pagar. Obrigatório: sem telefone o provedor
            aceita o pedido e devolve uma cobrança sem QR code.
          example: '11'
        phone_number:
          type: string
          maxLength: 12
          description: |
            Número sem o DDD. Oito dígitos (fixo) ou nove (celular, sempre
            começando com 9).
          example: '987654321'

    CustomerSummary:
      type: object
      description: O comprador, como devolvemos.
      required: [name, email, document]
      properties:
        name:
          type: [string, 'null']
        email:
          type: [string, 'null']
        document:
          type: [string, 'null']
          description: |
            Mascarado. Você já enviou o documento; devolvê-lo inteiro em
            toda consulta espalharia o dado sem nenhum ganho.
          example: '111.***.***-35'

    ChargeItem:
      type: object
      required: [description, quantity, amount]
      properties:
        code:
          type: [string, 'null']
          maxLength: 60
          description: Seu código do produto.
        description:
          type: string
          maxLength: 180
        quantity:
          type: integer
          minimum: 1
        amount:
          allOf:
            - $ref: '#/components/schemas/Cents'
          description: |
            Valor **unitário** em centavos inteiros. A soma de
            `quantity * amount` de todos os itens precisa ser exatamente
            igual ao `amount` da cobrança.

    BoletoInput:
      type: object
      description: |
        O que você pode escolher na emissão de um boleto. Os dois campos são
        opcionais: sem eles, valem o prazo e a frase padrão da plataforma.

        Note o que **não** está aqui: tipo de documento, banco emissor e
        `nosso_numero`. Os três são decisão nossa e do contrato com a
        adquirente, não do pedido.
      additionalProperties: false
      properties:
        due_days:
          type: integer
          minimum: 1
          maximum: 90
          description: |
            Dias até o vencimento, contados de hoje. Mínimo 1 porque boleto
            que vence no mesmo dia nasce vencido - o banco não o processa.
        instructions:
          type: string
          maxLength: 256
          description: |
            A frase impressa no documento, para o pagador. Substitui a
            nossa; não é acrescentada a ela.

    CreateChargeRequest:
      type: object
      required: [amount, customer, items]
      properties:
        amount:
          allOf:
            - $ref: '#/components/schemas/Cents'
          minimum: 1
          description: |
            **O preço do que você está vendendo**, em centavos inteiros.
            R$ 100,00 = `10000`. Um decimal aqui é recusado com `422`.

            No cartão PARCELADO, o `amount` que volta na resposta é MAIOR
            que este: o juro é cobrado do comprador e soma ao total. Você
            manda o preço do produto; nós calculamos o que ele paga. Ver
            `amount` no objeto `Charge`.
        description:
          type: [string, 'null']
          maxLength: 255
          description: Aparece para o comprador na tela de pagamento.
        reference:
          type: [string, 'null']
          maxLength: 120
          description: |
            Sua referência (número do pedido, id interno). Volta na consulta
            e nos webhooks, e serve de filtro em `GET /v1/charges` - é o que
            permite casar a cobrança com o seu pedido sem guardar o nosso
            `id`.
        metadata:
          type: [object, 'null']
          maxProperties: 20
          additionalProperties:
            type: string
            maxLength: 500
          propertyNames:
            maxLength: 40
          description: |
            Até **20** pares de chave/valor seus, devolvidos na consulta e
            nos webhooks. É o `reference` para quem precisa de mais de um
            rótulo - com uma diferença: `reference` filtra a listagem,
            `metadata` não.

            **Os valores devem ser strings.** Um número aqui é recusado com
            `422`: `{"total": 10.10}` voltaria como `10.1`, e a formatação
            do seu dado é sua. Envie `{"total": "10.10"}`.
          example:
            carrinho: cart_88f21
            campanha: black-friday
        expires_in:
          type: [integer, 'null']
          minimum: 60
          maximum: 604800
          default: 86400
          description: |
            Validade do QR, em segundos. O piso de 60s evita uma cobrança
            que expira antes de o comprador abrir o aplicativo do banco.
            Omitindo o campo, a cobrança vale 24 horas.
        customer_ip:
          type: [string, 'null']
          format: ip
          description: |
            O IP do **comprador**, em IPv4 ou IPv6.

            Numa integração servidor-a-servidor quem abre a conexão conosco
            é o seu servidor. Sem este campo é o endereço **dele** que
            guardamos, e o "Local" da venda no painel apontaria para o seu
            datacenter em toda cobrança. Mande o IP de quem está comprando
            e o dado passa a valer numa contestação.

            Fica fora de `customer` porque é da tentativa, não do cadastro:
            muda a cada compra da mesma pessoa.
          example: 189.45.12.7
        payment_method:
          type: string
          enum: [pix, credit_card, boleto]
          default: pix
          description: |
            Omitido, é `pix` - e continua sendo, para sempre. Toda
            integração que existe hoje manda o corpo sem este campo, e
            torná-lo obrigatório as quebraria todas por uma adição nossa.

            Com `credit_card`, o objeto `card` passa a ser obrigatório e
            `expires_in` passa a ser recusado: cartão não expira.

            Com `boleto`, o objeto `boleto` é opcional - a plataforma já tem
            prazo e instruções padrão. Boleto só está disponível para lojas
            em conta de split na Pagar.me; fora desse arranjo a resposta é
            `422` com `boleto_not_available`.
        boleto:
          oneOf:
            - $ref: '#/components/schemas/BoletoInput'
            - type: 'null'
          description: |
            Opcional quando `payment_method` é `boleto`, e **recusado** nos
            demais - mandá-lo num PIX devolve `422`, pela mesma razão do
            `card`: aceitar e ignorar faria você acreditar que emitiu um
            boleto.
        card:
          oneOf:
            - $ref: '#/components/schemas/CardInput'
            - type: 'null'
          description: |
            Obrigatório quando `payment_method` é `credit_card`, e
            **recusado** nos demais. Mandá-lo num PIX devolve `422`: aceitar
            e ignorar faria você ver a cobrança nascer e acreditar que
            cobrou no cartão.
        three_d_secure:
          type: string
          enum: [automatic, required, off]
          default: automatic
          description: |
            **A autenticação do portador é opcional nesta API, e o padrão é
            não autenticar.** Você não precisa deste campo para cobrar no
            cartão.

            Mande `required` quando quiser autenticar: a cobrança passa a
            exigir `card.three_ds`, e você roda o desafio no navegador antes
            de cobrar - ver `POST /v1/three_ds_tokens`. É o caminho de quem
            quer a **transferência de responsabilidade**: sem autenticação,
            uma contestação por "não fui eu" sai do seu saldo; com ela,
            responde o banco emissor.

            `automatic` (o padrão) e `off` fazem a mesma coisa hoje: não
            autenticam. `off` existe para quem já o escreveu no código um dia
            e não deve ver a cobrança quebrar por uma simplificação nossa.

            O interruptor de 3DS da sua conta, no painel, **não vale aqui** -
            ele governa os checkouts hospedados por nós, onde somos nós que
            montamos a tela e podemos pedir o desafio ao comprador. Nesta API
            quem monta a tela é você, e exigir um identificador que só o
            navegador produz devolveria um `422` impossível de resolver a
            quem cobra de um servidor.
        save_card:
          type: boolean
          default: false
          description: |
            Guarda o cartão no cofre **se, e somente se, a venda for
            aprovada**, e a próxima cobrança usa `card.id`. Recusada, nada
            é guardado: uma referência de autorização negada é uma
            referência que a própria Pagar.me pode não honrar depois.

            O `pm_` não volta nesta resposta - ele nasce depois dela.
            Busque-o em `GET /v1/cards?customer_document=…`.

            **Recusado junto com `card.id`**: aquele cartão já está
            guardado, e aceitar-e-ignorar ensinaria errado.

            Guardar credencial de pagamento sem o comprador ter pedido é
            problema regulatório antes de ser problema de produto. O
            consentimento é seu para colher.
        recurrence:
          type: [object, 'null']
          description: |
            **Declare aqui quando esta cobrança é parte de uma assinatura.**

            Só no cartão; num PIX é recusado com `422`. E `installments`
            passa a aceitar **apenas 1**: a bandeira não parcela uma
            cobrança recorrente - quem quer dividir uma assinatura cobra
            mais vezes, não uma vez em doze.

            Omitir o campo numa cobrança de série **não dá erro nenhum**, e é
            justamente o problema: a Pagar.me aceita o pedido, e a falta vira
            multa de bandeira semanas depois. Mastercard, Visa e Elo exigem a
            declaração.

            <Warning>
            Declarar recorrência **não** devolve o liability shift. Ela é
            conformidade de bandeira - evita multa, não evita contestação. A
            proteção continua vindo da autenticação do portador, e por isso o
            caminho seguro é **autenticar a primeira cobrança** (com o
            comprador na tela, sem cartão guardado) e deixar as seguintes
            correrem declaradas.

            Numa loja que exige 3DS, uma cobrança com `card.id` e
            `recurrence` **passa** em vez de levar `403
            one_click_requires_three_ds` - e corre sem transferência de
            responsabilidade. É uma escolha sua.
            </Warning>
          required: [cycle]
          properties:
            cycle:
              type: string
              enum: [first, subsequent]
              description: |
                `first` na primeira cobrança da série; `subsequent` em todas
                as seguintes.

                A série **reinicia** quando o cartão, o meio de pagamento ou
                o valor mudam: a cobrança seguinte a qualquer uma dessas
                mudanças é uma nova `first`, e é dela que as próximas passam
                a ser origem. Continuar apontando para a origem antiga
                declara uma série que a bandeira não reconhece mais.
            model:
              type: string
              enum: [subscription, standing_order, instalment]
              default: subscription
              description: |
                `subscription` é a assinatura de valor e frequência fixos -
                o caso comum, e o padrão. `standing_order` é a ordem
                permanente de valor variável. `instalment` é a compra
                dividida em cobranças ao longo do tempo, que **não** é o
                parcelamento no cartão (ali a bandeira divide uma única
                autorização).
            origin_charge_id:
              type: [string, 'null']
              description: |
                O `ch_` da **primeira cobrança aprovada** da série.
                Obrigatório com `cycle: "subsequent"`, e recusado na
                primeira - lá ele apontaria para si mesma.

                É o nosso código, e não o do provedor: você já o guarda ao
                lado da assinatura, e as referências da Pagar.me não entram
                nem saem por esta API. Traduzimos para os identificadores
                que a bandeira quer.

                Uma cobrança sem identificador de recorrência - um PIX, uma
                recusa - é recusada com `422`, com a frase dizendo qual usar.
              example: ch_01k1y6r6m6q2x0p3d9v4t7c8n2
        device_event_id:
          type: [string, 'null']
          maxLength: 255
          description: |
            O identificador do evento de identificação do aparelho - é o
            `deviceEventId` que o `createToken()` da Pagar.me devolve ao
            seu JavaScript.

            Opcional sempre. Bloqueador de anúncio corta a identificação
            com frequência, e recusar a venda porque o enriquecimento de
            risco não carregou troca uma fraude possível por uma perda
            certa.
        customer:
          $ref: '#/components/schemas/Customer'
        items:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/ChargeItem'
          description: |
            A soma de `quantity × amount` de todos os itens deve bater
            **exatamente** com o `amount` da cobrança.

            **No PIX é obrigatório.** Os itens são a única descrição do que
            está sendo vendido que chega ao arranjo de pagamento, e é o que o
            comprador lê no aplicativo do banco ao confirmar - uma cobrança
            que não diz o que cobra chega à tela dele como um valor sem
            causa.

            **No cartão, mande `items` OU `description`.** Aquela tela não
            existe ali, e montar um array cuja soma tem de fechar para vender
            uma coisa só é trabalho sem função: `description: "Plano mensal"`
            basta, e nós derivamos o item. Quem vende um carrinho continua
            mandando os itens.

    SavedCard:
      type: object
      description: |
        Um cartão guardado. **Todo campo está sempre presente.**

        O que NÃO está aqui, e não vai estar: as referências da Pagar.me
        que de fato cobram, e os seis primeiros dígitos. As primeiras são o
        equivalente ao cartão para quem as tem; o BIN somado aos quatro
        últimos é material de correlação que você não precisa.
      required:
        - object
        - id
        - brand
        - last_four
        - exp_month
        - exp_year
        - holder_name
        - expired
        - created_at
        - last_used_at
      properties:
        object:
          type: string
          const: card
        id:
          type: string
          pattern: '^pm_[0-9a-z]{26}$'
        brand:
          type: [string, 'null']
          enum: [visa, mastercard, elo, hipercard, amex, diners, discover, aura, null]
        last_four:
          type: [string, 'null']
        exp_month:
          type: [integer, 'null']
          minimum: 1
          maximum: 12
        exp_year:
          type: [integer, 'null']
        holder_name:
          type: [string, 'null']
        expired:
          type: boolean
          description: |
            Vencido é ESTADO, e não ausência: o cartão continua na lista
            para você entender por que a cobrança de um clique parou de
            funcionar para aquele comprador.
        created_at:
          type: [string, 'null']
          format: date-time
        last_used_at:
          type: [string, 'null']
          format: date-time





    CreateSavedCardRequest:
      type: object
      description: |
        O corpo de `POST /v1/cards`. Mesmo vocabulário de `POST /v1/charges`
        de propósito: quem já integra a cobrança no cartão não tem um
        segundo formato para aprender.

        O que não existe aqui: `amount`, `items` e `installments` - não há
        venda -, e `card.id` - esta rota **cria** a referência do cofre, e
        receber uma já existente seria pedir para guardar o que já está
        guardado. Mandar qualquer um deles devolve `422`.
      required: [customer, card]
      properties:
        customer:
          $ref: '#/components/schemas/Customer'
        card:
          type: object
          required: [token, holder_name, billing_address]
          properties:
            token:
              type: string
              maxLength: 255
              description: |
                O token de uso único criado no navegador por
                `Vext(pk).createToken(...)` - ver `GET /v1/vext.js`. Vale
                cerca de um minuto: tokenize no envio do formulário, nunca
                na abertura da página.
              example: token_ORP978GFOUoQD58x
            holder_name:
              type: string
              maxLength: 64
              description: O nome impresso no cartão, sem acento.
              example: ANA P SOUZA
            holder_document:
              type: [string, 'null']
              maxLength: 20
              description: CPF ou CNPJ do portador, quando diferente do comprador.
            billing_address:
              type: [object, 'null']
              description: |
                **Opcional**, e nos mesmos três níveis de `POST /v1/charges`:
                os seis campos, só `zip_code` + `number` (completamos o resto
                pelo CEP), ou nada.

                Aqui ele pesa mais que numa cobrança. É este endereço que o
                antifraude vai ler na PRIMEIRA cobrança deste cartão, que
                pode acontecer semanas depois - guardar sem endereço hipoteca
                a aprovação da assinatura inteira.
              required: [zip_code, number]
              properties:
                zip_code:
                  type: string
                  maxLength: 16
                  example: '01310100'
                street:
                  type: string
                  maxLength: 120
                number:
                  type: string
                  maxLength: 20
                complement:
                  type: [string, 'null']
                  maxLength: 80
                neighborhood:
                  type: string
                  maxLength: 80
                city:
                  type: string
                  maxLength: 80
                state:
                  type: string
                  minLength: 2
                  maxLength: 2
                  example: SP

    CardInput:
      type: object
      description: |
        O cartão, como ele chega até nós.

        Note o que **não** está aqui, e nem poderia: número, validade e
        CVV. O navegador do comprador os troca por um token com o
        `GET /v1/vext.js`. Nenhum endpoint desta API aceita o número de um
        cartão, e é isso que mantém a sua aplicação e a nossa fora do escopo
        de PCI.

        Mandá-los é **recusado com `422`**, e não ignorado: aceitar e
        descartar em silêncio ensinaria que é assim que se faz, e o número
        teria atravessado a fronteira - entrado no corpo de uma requisição e
        possivelmente num log - em troca de nada.

        São **dois formatos mutuamente excludentes**: `token`, para um
        cartão que o comprador acabou de digitar, e `id`, para um que já
        está no cofre. Mandar os dois devolve `422` - aceitar deixaria a
        escolha de qual cobrar para o provedor.
      required: [installments]
      properties:
        id:
          type: [string, 'null']
          pattern: '^pm_[0-9a-z]{26}$'
          description: |
            Um cartão guardado, de `GET /v1/cards`. **Excludente com
            `token`**, e é o pagamento de um clique: o comprador não digita
            nada, e por isso `holder_name` e `billing_address` não vêm - o
            cofre já os tem.

            Uma loja que exige 3DS não cobra assim: veja
            `one_click_requires_three_ds` abaixo.
          example: pm_01k1y6r6m6q2x0p3d9v4t7c8n2
        token:
          type: string
          maxLength: 255
          description: |
            O token de uso único, criado no navegador. Vale cerca de um
            minuto - tokenize no envio do formulário, nunca na abertura da
            página.

            **Obrigatório na ausência de `id`.** Com ele vêm `holder_name`
            e `billing_address`, que sem ele são recusados.
          example: token_ORP978GFOUoQD58x
        installments:
          type: integer
          minimum: 1
          maximum: 12
          description: |
            Conferido de novo contra a escada por valor e a taxa da sua
            conta na criação - consulte `GET /v1/installments` para saber o
            que está disponível antes de cobrar.
        holder_name:
          type: string
          maxLength: 64
          description: |
            O nome impresso no cartão, sem acento. A Pagar.me recusa o
            pedido com acento ou com mais de 64 caracteres.
          example: JOAO COMPRADOR
        holder_document:
          type: [string, 'null']
          maxLength: 20
          description: CPF ou CNPJ do portador, quando diferente do comprador.
        brand:
          type: [string, 'null']
          maxLength: 32
          description: |
            A bandeira lida do BIN no navegador. Serve para PRECIFICAR, e
            não é confiável - a de verdade só aparece na resposta do
            pedido, e é ela que volta em `card.brand`.
        billing_address:
          type: object
          description: |
            **Opcional, e em três níveis de esforço.** Escolha um:

            | O que você manda | O que acontece |
            | --- | --- |
            | os seis campos | melhor aprovação, e não depende de nada nosso |
            | só `zip_code` + `number` | completamos rua, bairro, cidade e UF pelo CEP |
            | nada | a cobrança passa, e a aprovação cai |

            O antifraude reprova bem mais sem endereço, e é ele que a bandeira
            compara com o cadastro do portador numa contestação. O antifraude
            é cobrado por transação, aprovada ou não - vale mandar tudo que
            ele sabe ler.

            `zip_code` e `number` andam juntos: CEP sem número não identifica
            endereço nenhum, e número sem CEP não se completa. Mandar um só
            devolve `422`.
          required: [zip_code, number]
          properties:
            zip_code:
              type: string
              maxLength: 16
              example: '01310100'
            number:
              type: string
              maxLength: 20
              example: '1000'
            street:
              type: [string, 'null']
              maxLength: 120
              description: Buscado pelo CEP quando você não manda.
            complement:
              type: [string, 'null']
              maxLength: 80
            neighborhood:
              type: [string, 'null']
              maxLength: 80
              description: Buscado pelo CEP quando você não manda.
            city:
              type: [string, 'null']
              maxLength: 80
              description: Buscado pelo CEP quando você não manda.
            state:
              type: [string, 'null']
              minLength: 2
              maxLength: 2
              example: SP
              description: Buscado pelo CEP quando você não manda.
        three_ds:
          type: [object, 'null']
          description: |
            O resultado da autenticação do portador.

            **Opcional, como todo o 3DS nesta API.** Só se torna obrigatório
            quando VOCÊ pediu `three_d_secure: "required"` - aí a ausência
            volta `422`, porque pedir autenticação e não autenticar é
            incoerente.

            Quem produz estes dois valores é o navegador, contra o servidor
            da Stone. Não tente montá-los do seu lado: quem confere a
            autenticação de verdade é a Pagar.me, no momento do pedido, e
            um identificador forjado simplesmente não vira autenticação.
          required: [transaction_id, status]
          properties:
            transaction_id:
              type: string
              maxLength: 64
            status:
              type: string
              enum: [Y, A]
              description: |
                Só `Y` (autenticado) e `A` (tentativa comprovada) são
                aceitos - são os dois que carregam o liability shift em
                Visa e Mastercard. Os demais dizem que o emissor negou ou
                não respondeu, e a cobrança é recusada antes de sair.

    RefundChargeRequest:
      type: object
      properties:
        amount:
          allOf:
            - $ref: '#/components/schemas/Cents'
          minimum: 1
          description: |
            Quanto devolver, em **centavos inteiros**. Omita para devolver
            todo o saldo estornável da cobrança.
        reason:
          type: [string, 'null']
          maxLength: 255
          description: Motivo, para o seu histórico e o nosso.

    Charge:
      type: object
      description: |
        Uma cobrança, como a API a devolve. **Todo campo desta lista está
        sempre presente** - os anuláveis vêm com `null`, nunca ausentes.
        Marcar como opcional o que nunca falta obrigaria você a testar a
        existência de uma chave que sempre existe.

        Nos webhooks há uma exceção documentada: veja `ChargeMinimal`.
      required:
        - object
        - id
        - status
        - payment_method
        - amount
        - currency
        - platform_fee
        - net_amount
        - refunded_amount
        - description
        - reference
        - metadata
        - customer
        - pix
        - card
        - boleto
        - created_at
        - paid_at
        - expired_at
        - refunded_at
      properties:
        object:
          type: string
          const: charge
        id:
          type: string
          description: |
            Código público da cobrança. Nunca é a chave primária: expor o
            autoincremento diria a qualquer cliente quantas vendas a
            plataforma inteira processou.
[...]
